
<div class="row">
    <div class="col-md-3 col-sm-12">
        <div class="container-scroll">
            <app-card cardTitle="" hidHeader="true" cardClass="card-datatable" [options]="false">
                <pre>Fecha Seleccionada: {{ parserFormatter.format(model) }}</pre>
                <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next"
                (ngModelChange)="getDentalOffice();setSchedule()"></ngb-datepicker>
                <br/>
                <button class="btn btn-sm btn-outline-primary mt-1" (click)="selectToday()">Hoy</button>
                <button class="btn btn-sm btn-outline-primary mt-1 ml-1" (click)="onDiaryLock()">Bloquear Agenda</button>
                <hr>
                <div class="filter mt-2">
                    <div class="title">
                        <h5>Busqueda de Citas</h5>
                    </div>
                    <div class="form-group" >
                        <label for="doctor">Doctor</label>
                        <ng-select name="doctor" [(ngModel)]="filter_doctor" [ngModelOptions]="{standalone: true}"
                            [loading]="loadingSelectDoctor" placeholder="Todos" [disabled]="this.session.doctor">
                            <ng-option *ngFor="let doc of listDoctors" [value]="doc.id">{{doc.nameQuote}}</ng-option>
                        </ng-select>
                    </div>
                    <div class="form-group" >
                        <label for="patient">Paciente</label>
                        <input id="typeahead-http" type="text" class="form-control"
                        [class.is-invalid]="searchFailed" name="patient" (selectItem)="selectedItem($event)"
                        [(ngModel)]="patient" [ngbTypeahead]="search" placeholder="Todos.."
                        [resultFormatter]="resultFormatBandListValue"
                        [inputFormatter]="inputFormatBandListValue" required/>
                        <small *ngIf="searching" class="form-text text-muted">Buscando...</small>
                        <div class="invalid-feedback" *ngIf="searchFailed">Error, Las sugerencias no pueden ser cargadas</div>
                    </div>
                    <div class="form-group" >
                        <label for="state">Estado</label>
                        <ng-select name="state" [(ngModel)]="filter_state" [ngModelOptions]="{standalone: true}"
                        [loading]="loadingSelectStateFilter" placeholder="Todos">
                            <ng-option *ngFor="let st of listState" [value]="st.id">{{st.state}}</ng-option>
                        </ng-select>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" (click)="onSearch()">Buscar</button>
                    </div>
                </div>
            </app-card>
        </div>
    </div>
    <div class="col-md-9 col-sm-12">
        <app-card cardTitle="" hidHeader="true" cardClass="card-datatable" [options]="false">
            <div class="scheduleContainer">
                <!--TIMES -->
                <div class="time start-750">H/AMB</div>
                <ng-container *ngFor="let sd of this.scheduleCalendar" >
                    <ng-container *ngFor="let hrs of sd.hoursBeta">
                        <div class="time start-{{ hrs.hourb }}">{{ hrs.houra }}</div>
                    </ng-container>
                </ng-container>
                <!-- EVENTS -->
                <ng-container *ngFor="let ca of hoursCalendar" >
                    <div class="event stage-jupiter start-750 end-750 length-1">Consultorio {{ ca.dentalOffice }} </div>
                    <ng-container *ngFor="let cale of ca.hours" >
                        <div *ngIf="cale.type == 0" class="event stage-venus start-{{cale.sinceMod}} end-{{cale.untilMod}} length-1">No Disponible </div>
                        <div style="cursor:pointer;" *ngIf="cale.type == 1" (click)="addMedicalAppointment(ca.idenvironment,cale)" class="event stage-saturn start-{{cale.sinceMod}} end-{{cale.untilMod}} length-1">Dispobible | {{cale.since}} - {{cale.until}}</div>
                        <div *ngIf="cale.type == 2" class="event stage-mars start-{{cale.sinceMod}} end-{{cale.untilMod}} length-1">Limpieza</div>
                        <div *ngIf="cale.type == 3" class="event stage-earth start-{{cale.sinceMod}} end-{{cale.untilMod}} length-1">Refrigerio</div>
                        <div style="cursor:pointer;" (click)="setAppointmentDetail(cale.data.idreservation)" *ngIf="cale.type == 4" class="event stage-mercury start-{{cale.sinceMod}} end-{{cale.untilMod}} length-1">
                            {{cale.data.doctor}}
                            <span>{{cale.data.history}} - {{cale.data.lastNameFather}} {{cale.data.lastNameMother}} {{cale.data.name}}</span>
                        </div>
                    </ng-container>
                </ng-container>
            </div>
        </app-card>
        <!--div class="planning-medicos genera-cupo info">
            <div class="planning">
                <div class="hora-header" style="height: 51px;padding: 12px; width: 120px">
                    H./AMB.
                </div>
                <div class="header" style="height: 51px; margin-left: 120px; /*width: 85%;*/">
                    <table class="table table-bordered mb-n" style="width: 100%;height: 51px; border-bottom: none;">
                        <thead>
                            <tr>
                                <td *ngFor="let do of listDentalOffice" class="hora-sidebar" [style]="'min-width: 58px; width: '+widthDetail+'px; border-right: 1px solid #fff;'">
                                    <div style="letter-spacing: -1px; font-size: 14px;">
                                        <span> Consultorio {{do.name}} </span>
                                    </div>
                                </td>
                            </tr>
                        </thead>
                    </table>
                </div>
                <aside class="sidebar" style="width:120px;">
                    <table class="table table-bordered">
                        <tbody>
                            <tr *ngFor="let sd of this.scheduleCalendar" class="item-ambiente info"
                            style="background-color: #667dca !important;">
                                <td style="width:60px;">
                                    <div class="ambiente-rotate p-xs">
                                        {{sd.hour}}
                                    </div>
                                </td>
                                <td style="width:62px; height:65px; border: 1px solid #fff;">
                                    <div *ngFor="let hrs of sd.hours" style="font-size: 14px; width:66px; height:20px; border-bottom: 1px solid #fff;"
                                    class="p-xs">
                                        {{hrs}}
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </aside>
                <aside class="body" [style]="'width: '+widthDetail+'px;'" *ngFor="let sd of this.schedule">
                    <table class="table table-bordered" >
                        <tbody>
                            <tr *ngFor="let dt of sd.hours"
                            style="min-height:20px;"--><!-- border-bottom: 1.5px solid #dad8d8; -->
                                <!--td style="z-index: 0;"--><!-- padding: 0.2px !important; -->
                                    <!--div class="detalle truncate cons" [style]="'height: '+dt.rowspan+'px;'" *ngIf="dt.type === 0">
                                        <div class="barra-ocupacion row-disabled" [style]="'height: '+dt.rowspan+'px;'">
                                            <p class="text-center">No Disponible</p>
                                        </div>
                                    </div>
                                    <div class="detalle truncate cons" [style]="'height: '+dt.rowspan+'px;'" *ngIf="dt.type === 1 && !this.validateDate"
                                    (click)="addMedicalAppointment(sd.idenvironment,dt)">
                                        <div class="barra-ocupacion" [style]="'height: '+dt.rowspan+'px;'">
                                            <p class="text-center">Dispobible | {{dt.since}} - {{dt.until}}</p>
                                        </div>
                                    </div>
                                    <div class="detalle truncate cons" [style]="'height: '+dt.rowspan+'px;'" *ngIf="dt.type === 1 && this.validateDate">
                                        <div class="barra-ocupacion" [style]="'height: '+dt.rowspan+'px;'">
                                            <p class="text-center">No Dispobible | {{dt.since}} - {{dt.until}}</p>
                                        </div>
                                    </div>
                                    <div class="detalle truncate cons" [style]="'height: '+dt.rowspan+'px;'" *ngIf="dt.type === 2">
                                        <div class="barra-ocupacion row-cleaning" [style]="'height: '+dt.rowspan+'px;'">
                                            <p class="text-center text-white">Limpieza</p>
                                        </div>
                                    </div>
                                    <div class="detalle truncate cons" [style]="'height: '+dt.rowspan+'px;'" *ngIf="dt.type === 3">
                                        <div class="barra-ocupacion row-lunch" [style]="'height: '+dt.rowspan+'px;'">
                                            <p class="text-center text-white">Refrigerio</p>
                                        </div>
                                    </div>
                                    <div class="detalle truncate cons" [style]="'height: '+dt.rowspan+'px;'" *ngIf="dt.type === 4"
                                    (click)="setAppointmentDetail(dt.data.idreservation)">
                                        <div class="barra-ocupacion row-date" [style]="'height: '+dt.rowspan+'px;'">
                                            {{dt.data.appointment}} <br/>
                                            {{dt.data.history}} - {{dt.data.name}} {{dt.data.lastNameFather}}<br/>
                                            {{dt.data.doctor}}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </aside>
            </div>
        </div-->
    </div>
    
</div>


<!--div class="row">
    <div class="col-md-12">
        <app-card cardTitle="" cardClass="card-datatable" [options]="false">
            <table class="table table-bordered mb-n" >
                <thead>
                    <tr>
                        <td colspan="2">H./AMB.</td>
                        <td *ngFor="let do of listDentalOffice" >
                            <div style="letter-spacing: -1px; font-size: 14px;">
                                <span> Consultorio {{do.name}} </span>
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let sd of this.scheduleCalendar" >
                        <tr >
                            <td rowspan="6">
                                {{sd.hour}}
                            </td>
                            <td>{{sd.hour}}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <ng-container *ngFor="let hrs of sd.hours">
                            <tr *ngIf="sd.hour != hrs" >
                                <td> {{hrs}}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </ng-container>
                        
                    </ng-container>
                </tbody>
            </table>
            
        </app-card>
    </div> 
</div-->

<!--div class="row">
    <div class="col-md-12">
        <app-card cardTitle="" cardClass="card-datatable" [options]="false">
            <div class="scheduleContainer"-->
                <!--TIMES -->
                
                <!--div class="time start-750">H/AMB</div>
                <ng-container *ngFor="let sd of this.scheduleCalendar" >
                 
                    <ng-container *ngFor="let hrs of sd.hoursBeta">
                        <div class="time start-{{ hrs.hourb }}">{{ hrs.houra }}</div>
                    </ng-container>
                        
                </ng-container--> 
                
                
                <!-- EVENTS -->
                <!--ng-container *ngFor="let ca of hoursCalendar" >
                    <div class="event stage-jupiter start-750 end-750 length-1">Consultorio {{ ca.dentalOffice }} </div>
                    <ng-container *ngFor="let cale of ca.hours" >
                        <div *ngIf="cale.type == 0" class="event stage-saturn start-{{cale.sinceMod}} end-{{cale.untilMod}} length-1">No Disponible </div>
                        <div style="cursor:pointer;" *ngIf="cale.type == 1" (click)="addMedicalAppointment(ca.idenvironment,cale)" class="event stage-saturn start-{{cale.sinceMod}} end-{{cale.untilMod}} length-1">Dispobible | {{cale.since}} - {{cale.until}}</div>
                        <div *ngIf="cale.type == 2" class="event stage-mars start-{{cale.sinceMod}} end-{{cale.untilMod}} length-1">Limpieza</div>
                        <div *ngIf="cale.type == 3" class="event stage-earth start-{{cale.sinceMod}} end-{{cale.untilMod}} length-1">Refrigerio</div>
                        <div style="cursor:pointer;" (click)="setAppointmentDetail(cale.data.idreservation)" *ngIf="cale.type == 4" class="event stage-mercury start-{{cale.sinceMod}} end-{{cale.untilMod}} length-1">
                            {{cale.data.doctor}}
                            <span>{{cale.data.history}} - {{cale.data.name}} {{cale.data.lastNameFather}}</span>
                            
                        </div>
                    </ng-container>
                </ng-container>
                
                
            </div>
        </app-card>
    </div> 
</div-->
