<form class="was-validated" #formDoctor="ngForm" (ngSubmit)="onSubmit()" ngNativeValidate>
    <div class="modal-header modal_header">
        <h5 class="modal-title titulo-modal">Datos del Doctor</h5>
        <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss('Cross click')"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <label class="form-control-label" for="name">Apellidos y Nombres <small class="text-danger">(*)</small></label>
                    <input class="form-control form-control-sm" name="name" type="text" ngbAutofocus
                    placeholder="Coloque Apellidos y Nombres" required [(ngModel)]="formInput.name">
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label class="form-label" for="nameQuote">Nombre en Citas <small class="text-danger">(*)</small></label>
                    <input type="text" class="form-control form-control-sm" name="nameQuote" placeholder="Coloque el nombre en Citas"
                    minlength="6" required [(ngModel)]="formInput.nameQuote">
                </div>
            </div>
            <div class="col-md-2 float-right">
                <div class="form-group float-right">
                    <div class="switch switch-primary d-inline m-r-10">
                        <input type="checkbox" id="exclusive" name="exclusive" [(ngModel)]="formInput.exclusive">
                        <label for="exclusive" class="cr"></label>
                    </div>
                    <label>Exclusivo</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-control-label" for="dni">Nro. Documento <small class="text-danger">(*)</small></label>
                    <input class="form-control form-control-sm" name="dni" type="text" placeholder="Nro. Documento"
                    required [(ngModel)]="formInput.dni">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-control-label" for="birthdate">Fecha Nacimiento <small class="text-danger">(*)</small></label>
                    <input class="form-control form-control-sm" name="birthdate" type="date" placeholder="Coloque Apellidos y Nombres"
                    required [(ngModel)]="formInput.birthdate">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-control-label" for="cop">COP</label>
                    <input class="form-control form-control-sm" name="cop" type="text" placeholder="Colegio Odontológico del Perú"
                    [(ngModel)]="formInput.cop">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-control-label" for="email">E-Mail <small class="text-danger">(*)</small></label>
                    <input class="form-control form-control-sm" name="email" type="email" placeholder="ejemplo@dominio.com"
                    required [(ngModel)]="formInput.email">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-control-label" for="phone">Teléfono <small class="text-danger">(*)</small></label>
                    <input class="form-control form-control-sm" name="phone" type="text" placeholder="Teléfono / Celular"
                    required [(ngModel)]="formInput.phone">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-control-label" for="address">Dirección <small class="text-danger">(*)</small></label>
                    <input class="form-control form-control-sm" name="address" type="text" placeholder="Dirección"
                    required [(ngModel)]="formInput.address">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-control-label" for="district">Distrito <span class="text-danger">(*)</span></label>
                    <ng-select [items]="districtList"
                                bindLabel="name"
                                bindValue="id"
                                placeholder="Seleccione"
                                name="district"
                                required
                                [(ngModel)]="this.formInput.district">
                    </ng-select>
                    <div *ngIf="!formInput.district" class="invalid-feedback">
                        El distrito es requerido
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-control-label" for="environment">Ambiente <small class="text-danger">(*)</small></label>
                    <ng-select [items]="environmentDoctorList"
                                bindLabel="name"
                                bindValue="id"
                                [multiple]="true"
                                placeholder="Seleccione"
                                name="environment"
                                required
                                [(ngModel)]="this.formInput.environment">
                    </ng-select>
                    <div *ngIf="!formInput.environment" class="invalid-feedback">
                        Debe seleccionar un ambiente
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="form-control-label" for="turn">Turno <small class="text-danger">(*)</small></label>
                    <select name="turn" class="custom-select" required [(ngModel)]="formInput.turn">
                        <option value="">Seleccione</option>
                        <option value="Completo">Completo</option>
                        <option value="Mañana">Mañana</option>
                        <option value="Tarde">Tarde</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="form-control-label" for="number_hours">Número de Horas <small class="text-danger">(*)</small></label>
                    <input class="form-control form-control-sm" name="number_hours" type="number" placeholder="Número de horas"
                    [(ngModel)]="formInput.number_hours">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-control-label" for="type_payment">Tipo Calculo </label>
                    <select name="type_payment" class="custom-select" [(ngModel)]="formInput.type_payment">
                        <option value="">Seleccione</option>
                        <option value="Monto fijo">Monto fijo</option>
                        <option value="Porcentaje">Porcentaje</option>
                        <option value="Sueldo">Sueldo</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="form-control-label" for="payment">Monto {{formInput.type_payment}}</label>
                    <input class="form-control form-control-sm" name="payment" type="text"
                    required [(ngModel)]="formInput.payment">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-label">Linea de Negocio <small class="text-danger">(*)</small></label>
                    <ng-select [items]="blList"
                                bindLabel="name"
                                bindValue="id"
                                [multiple]="true"
                                placeholder="Seleccione"
                                name="business_lines"
                                required (change)="this.getSpecialty()"
                                [(ngModel)]="this.formInput.business_lines">
                    </ng-select>
                    <div *ngIf="!formInput.business_lines" class="invalid-feedback">
                        La linea de negocio es requerida
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-label">Especialidad <small class="text-danger">(*)</small></label>
                    <ng-select [items]="specialtyList"
                                bindLabel="name"
                                bindValue="id"
                                [multiple]="true"
                                placeholder="Seleccione"
                                name="specialty"
                                required
                                [(ngModel)]="this.formInput.specialty">
                    </ng-select>
                    <div *ngIf="!formInput.specialty" class="invalid-feedback">
                        La especialidad es requerida
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-control-label" for="phone">Horario de la mañana</label>
                    <input class="form-control form-control-sm" name="morning_schedule" type="text"
                    placeholder="08:00-12:00" [(ngModel)]="formInput.morning_schedule">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-control-label" for="phone">Horario de la tarde</label>
                    <input class="form-control form-control-sm" name="afternoon_schedule" type="text"
                    placeholder="14:00-18:00" [(ngModel)]="formInput.afternoon_schedule">
                </div>
            </div>
            <div class="col-12">
                <h5>Días Laborables</h5>
                <hr>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="switch switch-primary d-inline m-r-10">
                        <input type="checkbox" id="switch-p-2" name="mon" [(ngModel)]="formInput.mon">
                        <label for="switch-p-2" class="cr"></label>
                    </div>
                    <label>Lunes</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="switch switch-primary d-inline m-r-10">
                        <input type="checkbox" id="switch-p-3" name="tue" [(ngModel)]="formInput.tue">
                        <label for="switch-p-3" class="cr"></label>
                    </div>
                    <label>Martes</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="switch switch-primary d-inline m-r-10">
                        <input type="checkbox" id="switch-p-4" name="mon" [(ngModel)]="formInput.wed">
                        <label for="switch-p-4" class="cr"></label>
                    </div>
                    <label>Miércoles</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="switch switch-primary d-inline m-r-10">
                        <input type="checkbox" id="switch-p-5" name="thu" [(ngModel)]="formInput.thu">
                        <label for="switch-p-5" class="cr"></label>
                    </div>
                    <label>Jueves</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="switch switch-primary d-inline m-r-10">
                        <input type="checkbox" id="switch-p-6" name="fri" [(ngModel)]="formInput.fri">
                        <label for="switch-p-6" class="cr"></label>
                    </div>
                    <label>Viernes</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="switch switch-primary d-inline m-r-10">
                        <input type="checkbox" id="switch-p-7" name="sat" [(ngModel)]="formInput.sat">
                        <label for="switch-p-7" class="cr"></label>
                    </div>
                    <label>Sábado</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="switch switch-primary d-inline m-r-10">
                        <input type="checkbox" id="switch-p-8" name="sun" [(ngModel)]="formInput.sun">
                        <label for="switch-p-8" class="cr"></label>
                    </div>
                    <label>Domingo</label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" uiSref="work" class="btn btn-primary btn-raised" [disabled]="!formDoctor.valid">
            Guardar
        </button>
        <button type="button" class="btn btn-outline-dark"
        (click)="activeModal.close('Close click')">
            Salir
        </button>
    </div>
</form>