.hr{
    margin-top: 0.5px !important;
    margin-bottom: 0.5px !important;
}

.invoice-total.table{
    padding: 0px !important;
}

input[type='number']{
    -webkit-appearance: textfield !important;
    margin: 0;
    -moz-appearance:textfield !important;
}