<div class="modal-header modal_header">
    <h5 class="modal-title titulo-modal">Programar Laboratorio</h5>
    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss('Cross click')"><span aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body">
    <form class="was-validated" (ngSubmit)="onSubmit()" ngNativeValidate>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label class="form-control-label" for="job">Estado Aparato <small class="text-danger">(*)</small></label>
                    <select class="custom-select" name="job" [(ngModel)]="formInput.job" required ngbAutofocus>
                        <option value="">Seleccione</option>
                        <option *ngFor="let item of this.listStates" [value]="item.name">
                            {{item.name}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label class="form-control-label" for="quantity">Cantidad por Día</label>
                    <input type="number" min="1" name="quantity" class="form-control form-control-sm"
                    [(ngModel)]="formInput.quantity" required>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label class="form-control-label" for="since">Desde</label>
                    <input type="date" name="since" class="form-control form-control-sm"
                    [(ngModel)]="formInput.since" required (change)="validateDate(1)">
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label class="form-control-label" for="until">hasta</label>
                    <input type="date" name="until" class="form-control form-control-sm"
                    [(ngModel)]="formInput.until" required (change)="validateDate(2)">
                </div>
            </div>            
            <div class="col-12"><hr></div>
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block">
            <i class="fas fa fa-save"></i> Registrar
        </button>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark"
      (click)="activeModal.close('Close click')">
      Salir
    </button>
</div>