<div class="modal-header modal_header">
    <h5 class="modal-title titulo-modal">Laboratorio</h5>
    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss(this.closeModal)"><span aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body">
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
        <li [ngbNavItem]="1">
            <a ngbNavLink>Orden Laboratorio</a>
            <ng-template ngbNavContent>
                <form class="was-validated" (ngSubmit)="onSubmit()" ngNativeValidate>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label class="form-control-label" for="name">Paciente <small class="text-danger">(*)</small></label>
                                <!-- <select class="form-control custom-select" name="cliente" [(ngModel)]="formInput.quotation_detail" required
                                (change)="setPatient()" [disabled]="formInput.id > 0">
                                    <option value="">Seleccione</option>
                                    <option *ngFor="let item of this.listPendent" [value]="item.id">
                                        {{item.id}} - {{item.quotation.clinicHistory.name}}
                                        {{item.quotation.clinicHistory.lastNameFather}}
                                        {{item.quotation.clinicHistory.lastNameMother}}
                                    </option>
                                </select> -->
                                <ng-select [(ngModel)]="formInput.quotation_detail" [ngModelOptions]="{standalone: true}"
                                (change)="setPatient()" [virtualScroll]="true" name="cliente" required
                                [disabled]="formInput.id > 0"
                                [clearable]="false"
                                [loading]="loadingPatient"
                                loadingText="Cargando..."
                                >
                                    <ng-option *ngFor="let item of this.listPendent" [value]="item.id">
                                        {{item.id}} - {{item.quotation.clinicHistory.name}}
                                        {{item.quotation.clinicHistory.lastNameFather}}
                                        {{item.quotation.clinicHistory.lastNameMother}}
                                    </ng-option>
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label class="form-control-label" for="num_document">Nro. Documento</label>
                                <input name="num_document" class="form-control form-control-sm" placeholder="12345678" [(ngModel)]="num_document"
                                readonly>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label class="form-control-label" for="history">Nro. Historia</label>
                                <input name="history" class="form-control form-control-sm" placeholder="Número de historia clinica"
                                [(ngModel)]="history" readonly>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label class="form-control-label" for="date">Fecha Registro <small class="text-danger">(*)</small></label>
                                <input type="date" name="date" class="form-control form-control-sm"
                                [(ngModel)]="formInput.date" required>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label class="form-control-label" for="doctor">Doctor<small class="text-danger">(*)</small></label>
                                <ng-select [items]="listDoctors"
                                    bindLabel="nameQuote"
                                    bindValue="id"
                                    placeholder="Seleccione"
                                    name="doctor"
                                    [(ngModel)]="formInput.doctor"
                                    [clearable]="false"
                                    [virtualScroll]="true"
                                    [loading]="loadingDoctor"
                                    loadingText="Cargando...">
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label class="form-control-label" for="assistant">Asistente <small class="text-danger">(*)</small></label>
                                <input type="text" name="assistant" class="form-control form-control-sm"
                                [(ngModel)]="formInput.assistant" required placeholder="Asistente">
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <div class="switch switch-success d-inline m-r-10">
                                    <input type="checkbox" id="switch-p-1" name="chip" [(ngModel)]="formInput.chip" (change)="setStates()">
                                    <label for="switch-p-1" class="cr"></label>
                                </div>
                                <label>Chip</label>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label class="form-control-label" for="assistant">Aparato <small class="text-danger">(*)</small></label>
                                <ng-select [items]="listTariffs"
                                    bindLabel="name"
                                    bindValue="id"
                                    placeholder="Seleccione"
                                    name="bracket"
                                    [(ngModel)]="formInput.tariff"
                                    [clearable]="false"
                                    [loading]="loadingTariff"
                                    loadingText="Cargando...">
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label class="form-control-label" for="color">Color <small class="text-danger">(*)</small></label>
                                <input type="text" name="color" class="form-control form-control-sm" placeholder="Color del aparato"
                                [(ngModel)]="formInput.color" required>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label class="form-control-label" for="job">Estado <small class="text-danger">(*)</small></label>
                                <select class="form-control custom-select" name="job" [(ngModel)]="formInput.job" required
                                (change)="setReasons()">
                                    <option value="">Seleccione</option>
                                    <option *ngFor="let item of this.listStates" [value]="item.name">
                                        {{item.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="reason" class="form-control-label">Motivo</label>
                                <select name="reason" id="reason" class="custom-select"
                                [(ngModel)]="formInput.reason">
                                    <option value="">Seleccione</option>
                                    <option *ngFor="let item of this.listReasons" [value]="item.name">
                                        {{item.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label class="form-control-label" for="instalation">Fecha Entrega <small class="text-danger">(*)</small></label>
                                <input type="date" name="instalation" class="form-control form-control-sm"
                                [(ngModel)]="formInput.instalation" required (change)="validateDateprogramming()">
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                              <label class="form-control-label" for="instalation">Hora <small class="text-danger">(*)</small></label>
                              <input name="hour" [textMask]="{mask: maskHour}" type="time" class="form-control form-control-sm" placeholder="12:00:00"
                              [(ngModel)]="formInput.hour" required>
                            </div>
                        </div>
                        <div class="col-3" [hidden]="!editando">
                            <div class="form-group">
                                <label class="form-control-label" for="elaboracion">Fecha de elaboración <small class="text-danger">(*)</small></label>
                                <input type="date" name="elaboracion" class="form-control form-control-sm"
                                [(ngModel)]="formInput.elaboration" required (change)="validateDateElaboration()">
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label class="form-control-label" for="technique">Técnica</label>
                                <input type="text" name="technique" class="form-control form-control-sm"
                                [(ngModel)]="formInput.technique" placeholder="Técnica">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label class="form-control-label" for="observation">Observaciones</label>
                                <input type="text" name="observation" class="form-control form-control-sm"
                                [(ngModel)]="formInput.observation" placeholder="Observaciones de la orden">
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg btn-block">
                        <i class="fas fa fa-save"></i> Registrar
                    </button>
                </form>
            </ng-template>
        </li>
        <li [ngbNavItem]="2" [disabled]="disabled">
            <a ngbNavLink>Receta Laboratorio</a>
            <ng-template ngbNavContent>
                <div class="col">
                    <div class="card hd-body">
                        <div class="row align-items-center">
                            <div class="col border-right">
                                <div class="card-body">
                                    <div class="ticket-customer">
                                        Historia Clínica: <label class="font-weight-bold" for="history">{{history}}</label> | Paciente: <label class="font-weight-bold" for="history">{{this.patient}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <form class="was-validated" (ngSubmit)="onSubmit()" ngNativeValidate>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label class="form-control-label" for="cpt">CPT</label>
                                <input name="cpt" class="form-control form-control-sm" placeholder="cpt" [(ngModel)]="formInput.cpt">
                            </div>
                        </div>
                        <div class="col-6"></div>
                        <div class="col-6">
                            <label class="form-control-label" for="name">Superior <small class="text-danger">(*)</small></label>
                            <angular-editor name="superior_indications" [(ngModel)]="formInput.superior_indications"
                            [config]="editorConfig" [placeholder]="'Digite la parametros superiores'"></angular-editor>
                        </div>
                        <div class="col-6">
                            <label class="form-control-label" for="name">Inferior <small class="text-danger">(*)</small></label>
                            <angular-editor [(ngModel)]="formInput.lower_indications" name="lower_indications"
                            [placeholder]="'Digite la parametros inferiores'" [config]="editorConfig"></angular-editor>
                        </div>
                        <div class="col-12"><hr></div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg btn-block">
                        <i class="fas fa fa-save"></i> Registrar
                    </button>
                </form>
            </ng-template>
        </li>
        <li [ngbNavItem]="3" [disabled]="disabled">
            <a ngbNavLink (click)="this.setDataLabeled(); getListLabeled()">Rotulado</a>
            <ng-template ngbNavContent>
                <div class="col">
                    <div class="card hd-body">
                        <div class="row align-items-center">
                            <div class="col border-right">
                                <div class="card-body">
                                    <div class="ticket-customer">
                                        Historia Clínica: <label class="font-weight-bold" for="history">{{history}}</label> | Paciente: <label class="font-weight-bold" for="history">{{this.patient}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <form (ngSubmit)="onSubmitLabeled()" class="was-validated" ngNativeValidate>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label class="form-control-label" for="fecha">Fecha</label>
                                <input type="date" name="labeled_date" class="form-control form-control-sm"
                                required [(ngModel)]="this.formInputLabeled.date">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label for="status" class="form-control-label">Estado</label>
                                <select name="status" class="custom-select" required [(ngModel)]="this.formInputLabeled.status">
                                    <option value="">Seleccione</option>
                                    <option *ngFor="let st of listStatus" [value]="st.id">{{st.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12"><hr></div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg btn-block">
                        <i class="fas fa fa-save"></i> Registrar
                    </button>
                </form>
                <div><hr></div>
                <div *ngIf="this.listLabeled.length > 0" class="container">
                    <table class="table table-sm">
                        <thead>
                            <th class="w50"># ID</th>
                            <th>Fecha</th>
                            <th>Estado</th>
                            <th class="w100">Acciones</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let ll of listLabeled">
                                <td>{{ll.id}}</td>
                                <td>{{ll.date | date:'dd-MM-yyyy'}}</td>
                                <td>{{ll.status.name}}</td>
                                <td>
                                    <button type="button" class="btn btn-icon btn-success btn-sm" (click)="setInpusLabeled(ll)"
                                    ngbPopover="Editar" triggers="mouseenter:mouseleave">
                                        <i class="feather icon-check-circle"></i>
                                    </button>
                                    <button type="button" class="ml-1 btn btn-icon btn-primary btn-sm"
                                    ngbPopover="Imprimir" triggers="mouseenter:mouseleave" (click)="onPrint(ll.id)">
                                        <i class="feather icon-printer"></i>
                                    </button>
                                    <button type="button" class="ml-1 btn btn-icon btn-danger btn-sm" (click)="deleteLabeled(ll)"
                                    ngbPopover="Eliminar" triggers="mouseenter:mouseleave">
                                        <i class="feather icon-trash-2"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </ng-template>
        </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>
<div class="modal-footer">
    <button
      type="button" ngbAutofocus
      class="btn btn-outline-dark"
      (click)="activeModal.close(this.closeModal)"
    >
      Salir
    </button>
</div>