<div class="modal-header modal_header">
    <h5 class="modal-title titulo-modal">Tarifario</h5>
    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss('Cross click')"><span aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body">
    <form #validationForm="ngForm" class="editForm" novalidate>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label">Especialidad <small class="text-danger">(*)</small></label>
                    <select class="form-control form-control-sm custom-select" name="validation-cmbGear" [ngClass]="{'is-invalid': isSubmit && !validSpecialty }" #specialty="ngModel" required [(ngModel)]="formInput.specialty"
                    (change)="validateSpecialty()" [disabled]="this.formInput.id > 0">
                    <option value="">Seleccione</option>
                        <option *ngFor="let sp of specialtyList" [value]="sp.id">{{sp.name}}</option>
                    </select>
                    <label *ngIf="(specialty.dirty || specialty.touched || isSubmit)  && !validSpecialty" id="validation-cmbGear-error" class="error jquery-validation-error small form-text invalid-feedback">Debe seleccionar una especialidad.</label>
                </div>
              </div>
            <div class="col-md-6">
                <div class="form-group">
                <label class="form-control-label" for="name">Nombre <small class="text-danger">(*)</small></label>
                <input class="form-control input-md" id="text" name="name" type="text" placeholder="Nombre del producto" [ngClass]="{'is-invalid': !name.valid && (name.dirty || name.touched || isSubmit)}" #name="ngModel" required [(ngModel)]="formInput.name">
                <label *ngIf="!name.valid && (name.dirty || name.touched || isSubmit)" id="validation-email-error" class="error jquery-validation-error small form-text invalid-feedback">Debe colocar el nombre.</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="form-control-label" for="price_sol">Precio S/ <small class="text-danger">(*)</small></label>
                    <input class="form-control input-md" id="price_sol" name="price_sol" type="number" min="0" placeholder="0" [ngClass]="{'is-invalid': !price_sol.valid && (price_sol.dirty || price_sol.touched || isSubmit)}" #price_sol="ngModel" required [(ngModel)]="formInput.price_sol">
                    <label *ngIf="!price_sol.valid && (price_sol.dirty || price_sol.touched || isSubmit)" id="validation-email-error" class="error jquery-validation-error small form-text invalid-feedback">Debe colocar precio en Soles.</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="form-control-label" for="cost">Costo </label>
                    <input class="form-control input-md" id="cost" name="cost" type="number" min="0" placeholder="0"
                    [ngClass]="{'is-invalid': !cost.valid && (cost.dirty || cost.touched || isSubmit)}" #cost="ngModel" [(ngModel)]="formInput.cost">
                    <label *ngIf="!cost.valid && (cost.dirty || cost.touched || isSubmit)" class="error jquery-validation-error small form-text invalid-feedback">El costo debe ser mayor a cero(0).</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="form-control-label" for="price_usd">Precio $ <small class="text-danger">(*)</small></label>
                    <input class="form-control input-md" id="price_usd" name="price_usd" type="number" min="0" placeholder="0" [ngClass]="{'is-invalid': !price_usd.valid && (price_usd.dirty || price_usd.touched || isSubmit)}" #price_usd="ngModel" required [(ngModel)]="formInput.price_usd">
                    <label *ngIf="!price_usd.valid && (price_usd.dirty || price_usd.touched || isSubmit)" id="validation-email-error" class="error jquery-validation-error small form-text invalid-feedback">Debe colocar el precio en $.</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="form-control-label" for="cost_usd">Costo USD</label>
                    <input class="form-control input-md" id="cost_usd" name="cost_usd" type="number" min="0" placeholder="0"
                    [ngClass]="{'is-invalid': !cost_usd.valid && (cost_usd.dirty || cost_usd.touched || isSubmit)}" #cost_usd="ngModel" required [(ngModel)]="formInput.cost_usd">
                    <label *ngIf="!cost_usd.valid && (cost_usd.dirty || cost_usd.touched || isSubmit)" class="error jquery-validation-error small form-text invalid-feedback">El costo en usd debe ser mayor a cero(0).</label>
                </div>
            </div>
            <div class="col-md-2" *ngIf="formInput.odontograma">
                <div class="form-group">
                    <label class="control-label mb-xs">Estado Dental <small class="text-danger">(*)</small></label>
                    <ng-select [items]="dentalStatus"
                                bindLabel="name"
                                bindValue="id"
                                [multiple]="true"
                                placeholder="Seleccione"
                                name="dental_status"
                                required (change)="this.getSpecialty()"
                                [(ngModel)]="this.formInput.dental_status">
                    </ng-select>
                </div>
            </div>
            <div class="col-md-2 float-right"  *ngIf="this.odontograma">
                <div class="form-group float-right">
                    <div class="switch switch-primary d-inline m-r-10">
                        <input type="checkbox" id="switch-p-1" name="odontograma"
                        [(ngModel)]="formInput.odontograma" #odontograma="ngModel">
                        <label for="switch-p-1" class="cr"></label>
                    </div>
                    <label>Odontograma</label>
                </div>
            </div>
            <div class="col-md-2 float-right"  *ngIf="this.laboratory">
                <div class="form-group float-right">
                    <div class="switch switch-primary d-inline m-r-10">
                        <input type="checkbox" id="bracket" name="bracket"
                        [(ngModel)]="formInput.bracket" #bracket="ngModel">
                        <label for="bracket" class="cr"></label>
                    </div>
                    <label>Es aparato?</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="form-control-label" for="idkeyfacil">ID Key fácil</label>
                    <input class="form-control input-md" id="idkeyfacil" name="idkeyfacil" type="text" placeholder="0"
                    #idkeyfacil="ngModel" [(ngModel)]="formInput.idkeyfacil">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                <label class="form-label">Descripción <small class="text-danger">(*)</small></label>
                <input type="test" class="form-control" name="description" placeholder="Coloque la descripción del producto" [ngClass]="{'is-invalid': !description.valid && (description.dirty || description.touched || isSubmit)}" #description="ngModel" minlength="4" required [(ngModel)]="formInput.description">
                <label *ngIf="!description.valid && (description.dirty || description.touched || isSubmit)" id="validation-password-error" class="error jquery-validation-error small form-text invalid-feedback">Debe colocar la descripción del producto.</label>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" uiSref="work" class="btn btn-primary btn-raised" (click)="save(validationForm)"
    *ngIf="!processing"> Guardar</button>
    <button class="btn btn-raised btn-primary" *ngIf="processing" disabled>
    <span class="spinner-border spinner-border-sm" role="status"></span>
    <span class="load-text"> Procesando...</span>
    </button>
    <button
      type="button" ngbAutofocus
      class="btn btn-outline-dark"
      (click)="activeModal.close('Close click')"
      *ngIf="!processing"
    >
      Salir
    </button>
</div>
