<div class="row">
    <div class="col-sm-12">
        <app-card [customHeader]="true" cardClass="card-datatable" [options]="false">
            <div class="app-card-header">
                <h5 class="mb-3">Provincias</h5>
                <button class="btn btn-primary float-right f-14" (click)="clear();modalForm.show()">
                    <i class="fas fa-plus-circle m-r-5"></i> Nuevo
                </button>
            </div>
            <div class="d-flex align-items-center" *ngIf="loading">
                <strong>Loading...</strong>
                <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
            </div>
            <div class="table-responsive" *ngIf="!loading">
                <table datatable class="table table-striped table-bordered nowrap table-hover table-sm">
                    <thead>
                        <tr>
                            <th class="w50">#</th>
                            <th>Departamento</th>
                            <th>Provincia</th>
                            <th class="w50">Acciones</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of dataList">
                            <td>{{item.id}}</td>
                            <td>{{item.deparments.name}}</td>
                            <td>{{item.name}}</td>
                            <td>
                                <button class="btn btn-success btn-sm" (click)="setItem(item);modalForm.show()"><i class="fas fa-edit"></i></button>
                                <button class="btn btn-danger btn-sm ml-1" (click)="delete(item)"><i class="fas fa-ban"></i></button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>#</th>
                            <th>Departamento</th>
                            <th>Provincia</th>
                            <th>Acciones</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </app-card>
    </div>
</div>

<app-ui-modal #modalForm [hideFooter]="true" [containerClick]="false" [dialogClass]="'modal-lg'">
    <div class="app-modal-header">
      <h5 class="modal-title">Nueva Provincia</h5>
      <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="modalForm.hide()"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="app-modal-body">
        <form #validationForm="ngForm" class="editForm" novalidate>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-control-label" for="name">Nombre</label>
                        <input class="form-control input-md" id="text" name="name" type="text" placeholder="Nombre de la provincia" [ngClass]="{'is-invalid': !name.valid && (name.dirty || name.touched || isSubmit)}" #name="ngModel" minlength="1"  maxlength="30" required [(ngModel)]="formInput.name">
                        <label *ngIf="!name.valid && (name.dirty || name.touched || isSubmit)" id="validation-email-error" class="error jquery-validation-error small form-text invalid-feedback">Debe colocar el nombre.</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label">Departamento <span class="text-danger">(*)</span></label>
                        <select class="form-control form-control-sm custom-select" name="validation-cmbGear" [ngClass]="{'is-invalid': !deparments.valid && (deparments.dirty || deparments.touched || isSubmit)}" #deparments="ngModel" required [(ngModel)]="formInput.deparments">
                            <option value="">Seleccione</option>
                            <option *ngFor="let sp of deparmentsList" [value]="sp.id">{{sp.name}}</option>
                        </select>
                        <label *ngIf="!deparments.valid && (deparments.dirty || deparments.touched || isSubmit)" id="validation-cmbGear-error" class="error jquery-validation-error small form-text invalid-feedback">Debe seleccionar una sede.</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <hr>
              <button type="button" uiSref="work" class="btn btn-primary btn-raised" (click)="save(validationForm)"
              *ngIf="!processing"> Guardar <span style="margin-left:10px;"><i class="feather icon-save"></i></span></button>
              <button class="btn btn-raised btn-primary" *ngIf="processing" disabled>
                <span class="spinner-border spinner-border-sm" role="status"></span>
                <span class="load-text"> Procesando...</span>
              </button>
              <button type="button" uiSref="work" class="btn btn-warning btn-raised ml-1" (click)="modalForm.hide()"
              *ngIf="!processing"> Salir <span style="margin-left:10px;"><i class="feather icon-log-out"></i></span></button>
            </div>
        </form>
    </div>
</app-ui-modal>
