<p *ngIf="quantityAttentions.length === 0">
  <ngb-alert [dismissible]="false" [type]="'info'">
    <strong><i class="fas fa-info-circle"></i></strong>
    No hay atenciones registradas registrados
  </ngb-alert>
</p>
<div class="row" *ngIf="this.quantityAttentions.length > 0">
  <div class="col-md-3" *ngFor="let el of quantityAttentions">
    <div class="card flat-card widget-purple-card" style="cursor: pointer;"
    (click)="this.get(el.iddoctor)">
      <div class="row-table">
        <div class="col-sm-2 card-body" style="padding: 20px 5px !important;">
          <i class="feather icon-folder"></i>
        </div>
        <div class="col-sm-10">
          <h6>Archivo(s) {{el.quantity}}</h6>
          <h6>{{el.doctor}}</h6>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-sm-12" *ngIf="this.list.length > 0">
        <app-card [hidHeader]="true" cardClass="user-profile-list">
            <div class="dt-responsive table-responsive">
                <table datatable [dtOptions]="dtOptions" class="table table-striped row-border table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Fecha</th>
                            <th>Doctor</th>
                            <th>Tratamiento</th>
                            <th class="w100">Cantidad</th>
                            <th class="w100">Valor</th>
                            <th class="w100">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of list">
                            <td>{{item.id}}</td>
                            <td>{{item.date}}</td>
                            <td>{{item.doctor.nameQuote}}</td>
                            <td>{{item.tariff.name}}</td>
                            <td>{{item.quantity}}</td>
                            <td>{{item.co.code}} {{item.value}}</td>
                            <td>{{item.co.code}} {{item.quantity * item.value}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>#</th>
                            <th>Fecha</th>
                            <th>Doctor</th>
                            <th>Tratamiento</th>
                            <th class="w100">Cantidad</th>
                            <th class="w100">Valor</th>
                            <th class="w100">Total</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </app-card>
    </div>
</div>
