<div class="row">
    <div class="col-md-3 col-sm-12">
        <app-card cardTitle="Filtros" blockClass="task-details" [options]="false">
            <table class="table">
              <tbody>
                <tr>
                    <td><i class="fas fa-calendar-alt m-r-5"></i> Opción:</td>
                    <td class="text-right">
                        <select name="state" class="custom-select" [(ngModel)]="this.filters.option"
                        (change)="this.get(); this.getProduction()">
                            <option value="i">Fecha Instalación</option>
                            <option value="e">Fecha Elaboración</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><i class="far fa-calendar-alt m-r-5"></i> Desde:</td>
                    <td class="text-right">
                        <input type="date" name="desde" class="form-input form-input-sm"
                        [(ngModel)]="this.filters.since" (change)="this.get(); this.getProduction()">
                    </td>
                </tr>
                <tr>
                    <td><i class="far fa-calendar-alt m-r-5"></i> Hasta:</td>
                    <td class="text-right">
                        <input type="date" name="hasta" class="form-input form-input-sm"
                        [(ngModel)]="this.filters.until" (change)="this.get(); this.getProduction()">
                    </td>
                </tr>
                <tr>
                    <td><i class="fas fa-list-ol m-r-5"></i> Estado:</td>
                    <td class="text-right">
                        <select name="state" class="custom-select" [(ngModel)]="this.filters.state"
                        (change)="this.get(); this.getProduction()">
                            <option value="0">Todos</option>
                            <option *ngFor="let ls of listStates" [value]="ls.name">{{ls.name}}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="button" class="btn btn-primary btn-sm"
                        (click)="this.onPrint()">
                            <i class="fas fa-file-pdf"></i> Imprimir Resumen
                        </button>
                    </td>
                </tr>
              </tbody>
            </table>
        </app-card>
        <app-card cardTitle="Producción por estado" cardClass="table-card" blockClass="p-0" [options]="false">
            <p *ngIf="this.production.length === 0">
                <ngb-alert [dismissible]="false" [type]="'info'">
                    <strong>Atención!</strong> No hay datos para mostrar.
                </ngb-alert>
            </p>
            <perfect-scrollbar *ngIf="this.production.length > 0">
              <div class="table-responsive">
                <table class="table table-hover m-b-0 without-header">
                    <tbody>
                        <tr *ngFor="let pr of production">
                            <td><h3 class="m-0">{{pr.quanty}}</h3></td>
                            <td><p class="m-0">{{pr.name}}</p></td>
                            <td class="text-right"><label class="badge badge-light-success m-0">{{pr.porce | number : '1.2-2'}}%</label></td>
                        </tr>
                    </tbody>
                </table>
              </div>
            </perfect-scrollbar>
        </app-card>
    </div>
    <div class="col-md-9 col-sm-12">
        <app-card [customHeader]="true" cardClass="card-datatable" [options]="false">
            <div class="app-card-header">
                <h5 class="mb-3">Ordenes de Laboratorio</h5>
                <button [disabled] = "can_insert" class="btn btn-primary float-right f-14" (click)="addForm(0)">
                    <i class="fas fa-plus-circle m-r-5"></i> Nueva Orden [F2]
                </button>
            </div>
            <div class="col-12" *ngIf="this.list.length === 0">
                <p>
                    <ngb-alert [dismissible]="false" [type]="'info'">
                      <strong>Atención!</strong> No hay ordenes de laboratorio para mostrar.
                    </ngb-alert>
                </p>
            </div>
            <div class="col-sm-12" *ngIf="this.list.length > 0">
                <app-card [hidHeader]="true" cardClass="user-profile-list">
                    <div class="dt-responsive table-responsive">
                        <table datatable [dtOptions]="dtOptions" class="table table-striped row-border table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Paciente</th>
                                    <th>H.C</th>
                                    <th>Doctor</th>
                                    <th>Elaboración</th>
                                    <th>Instalación</th>
                                    <th class="w100">Estado Orden</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of list">
                                    <td>{{item.id}}</td>
                                    <td>
                                        <div class="d-inline-block align-middle">
                                            <div class="d-inline-block">
                                            <h6 class="m-b-0">{{item.quotation_detail.quotation.clinicHistory.name}}</h6>
                                            <p class="m-b-0">{{item.quotation_detail.quotation.clinicHistory.email}}</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>{{item.quotation_detail.quotation.clinicHistory.history}}</td>
                                    <td>{{item.doctor.nameQuote}}</td>
                                    <td>
                                        <div class="d-inline-block align-middle">
                                            <div class="d-inline-block">
                                                <h6 class="m-b-0">{{item.elaboration | date: "dd-MM-yyyy"}}</h6>
                                                <p class="m-b-0" *ngIf="((moment().diff(item.elaboration, 'days')*-1)+1) > 0">
                                                    {{(moment().diff(item.elaboration, 'days')*-1)+1}} día(s)
                                                </p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-inline-block align-middle">
                                            <div class="d-inline-block">
                                                <h6 class="m-b-0">{{item.instalation | date: "dd-MM-yyyy"}}</h6>
                                                <p class="m-b-0" *ngIf="((moment().diff(item.instalation, 'days')*-1)+1) > 0">
                                                    {{(moment().diff(item.instalation, 'days')*-1)+1}} día(s)
                                                </p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                    <span class="badge badge-light-warning" *ngIf="item.state === 1">
                                        <i class="fas fa-clock"></i> Pendiente
                                    </span>
                                    <span class="badge badge-light-primary" *ngIf="item.state === 2">
                                        <i class="fas fa-check"></i> Elaborado
                                    </span>
                                    <span class="badge badge-light-success" *ngIf="item.state === 3">
                                        <i class="fas fa-check-double"></i> Instalado
                                    </span>
                                    <div class="overlay-edit">
                                        <button [disabled] = "can_update" type="button" class="btn btn-icon btn-success btn-sm" (click)="addForm(item.id)"
                                            ngbPopover="Editar" triggers="mouseenter:mouseleave">
                                            <i class="feather icon-check-circle"></i>
                                        </button>
                                        <button [disabled] = "can_update" type="button" class="btn btn-icon btn-warning btn-sm" ngbPopover="Confirmar"
                                        triggers="mouseenter:mouseleave" *ngIf="item.state !== 3" (click)="this.confirm(item)">
                                            <i class="fas fa-check-square"></i>
                                        </button>
                                        <button [disabled] = "can_delete" type="button" class="btn btn-icon btn-danger btn-sm" ngbPopover="Desiste"
                                        triggers="mouseenter:mouseleave" *ngIf="item.state === 1" (click)="this.cancel(item)">
                                            <i class="fas fa-window-close"></i>
                                        </button>
                                        <!-- <button type="button" class="btn btn-icon btn-danger btn-sm" (click)="delete(item.id)"
                                        ngbPopover="Eliminar" triggers="mouseenter:mouseleave" *ngIf="item.state === 1">
                                            <i class="feather icon-trash-2"></i>
                                        </button> -->
                                    </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>#</th>
                                    <th>Paciente</th>
                                    <th>H.C</th>
                                    <th>Doctor</th>
                                    <th>Elaboración</th>
                                    <th>Instalación</th>
                                    <th>Status</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </app-card>
            </div>
        </app-card>
    </div>
</div>
<div class="fixed-button active">
    <button [disabled] = "can_insert" class="btn btn-icon btn-primary has-ripple btn-circle btn-md" (click)="addForm(0)">
      <i aria-hidden="true" class="fas fa-plus-circle fa-2x"></i> [F2]
    </button>
</div>

