<div class="row">
    <div class="col-sm-12">
        <app-card [customHeader]="true" cardClass="card-datatable" [options]="false">
            <div class="app-card-header">
                <h5 class="mb-3"><i class="fas fa-file-invoice-dollar"></i> Cotización</h5>
                <button class="btn btn-outline-secondary float-right f-14 ml-1" (click)="this.getAllData()">
                    <i class="fas fa-sync m-r-5"></i>
                </button>
                <button [disabled] = "can_insert" class="btn btn-primary float-right f-14" (click)="addForm(0)">
                    <i class="fas fa-plus-circle m-r-5"></i> Nueva Cotización [F2]
                </button>
            </div>
            <div class="d-flex align-items-center" *ngIf="loading">
                <strong>Loading...</strong>
                <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
            </div>
            <div class="col-sm-12" *ngIf="!loading">
                <app-card [hidHeader]="true" cardClass="user-profile-list">
                    <div class="dt-responsive table-responsive">
                        <table datatable [dtOptions]="dtOptions" class="table table-striped row-border table-hover">
                            <thead>
                                <tr>
                                    <th class="w50">#</th>
                                    <th>Paciente</th>
                                    <th class="w50">Edad</th>
                                    <th>Doctor</th>
                                    <th>Linea de Negocio</th>
                                    <th class="w50">Fecha</th>
                                    <th class="w100">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of dataList">
                                    <td>{{item.id}}</td>
                                    <td>
                                        <div class="d-inline-block align-middle">
                                            <img src="assets/images/user/male.png" [alt]="item.clinicHistory.name" class="img-radius align-top m-r-15" style="width:40px;">
                                            <div class="d-inline-block">
                                            <h6 class="m-b-0">{{item.clinicHistory.name}} {{item.clinicHistory.lastNameFather}}</h6>
                                            <p class="m-b-0">{{item.clinicHistory.email}}</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>{{moment().diff(item.clinicHistory.birthdate, 'years')}} años</td>
                                    <td>{{item.doctor.nameQuote}}</td>
                                    <td>{{item.businessLine.name}}</td>
                                    <td>{{item.date | date: "dd-MM-yyyy"}}</td>
                                    <td>
                                    <span class="badge badge-light-warning" *ngIf="item.state === 1">Pendiente</span>
                                    <span class="badge badge-light-warning" *ngIf="item.state === 2">Pagada</span>
                                    <div class="overlay-edit">
                                        <button [disabled] = "can_update" type="button" class="btn btn-icon btn-success" (click)="addForm(item.id)"
                                        ngbPopover="Editar" triggers="mouseenter:mouseleave">
                                            <i class="feather icon-check-circle"></i>
                                        </button>
                                        <button  [disabled] = "can_delete" type="button" class="btn btn-icon btn-danger" (click)="delete(item.id)"
                                        ngbPopover="Eliminar" triggers="mouseenter:mouseleave">
                                            <i class="feather icon-trash-2"></i>
                                        </button>
                                        <button type="button" class="btn btn-icon btn-secondary" (click)="onPrint(item)"
                                        ngbPopover="Imprimir" triggers="mouseenter:mouseleave">
                                            <i class="fas fa-file-pdf"></i>
                                        </button>
                                    </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>#</th>
                                    <th>Paciente</th>
                                    <th>Edad</th>
                                    <th>Doctor</th>
                                    <th>Linea de Negocio</th>
                                    <th>Fecha</th>
                                    <th>Status</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </app-card>
            </div>
        </app-card>
    </div>
</div>
<div class="fixed-button active">
    <button [disabled] = "can_insert" class="btn btn-icon btn-primary has-ripple btn-circle btn-md" (click)="addForm(0)">
      <i aria-hidden="true" class="fas fa-plus-circle fa-2x"></i> [F2]
    </button>
</div>
