<div class="row">
    <div class="col-sm-12">
        <app-card [customHeader]="true" cardClass="card-datatable" [options]="false">
            <div class="app-card-header">
                <h5 class="mb-3"><i class="fas fa-user-tag m-r-5"></i> Roles</h5>
                <button [disabled] = "can_insert" class="btn btn-primary float-right f-14" data-toggle="modal" (click)="clear();modalForm.show()">
                    <i class="fas fa-plus"> Nuevo</i>
                </button>
            </div>
            <div class="d-flex align-items-center" *ngIf="loading">
                <strong>Loading...</strong>
                <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
            </div>
            <div class="table-responsive" *ngIf="!loading">
                <table datatable [dtOptions]="dtOptions" class="table table-striped table-bordered nowrap table-hover table-sm">
                    <thead>
                        <tr>
                            <th class="w50">#</th>
                            <th>Nombre</th>
                            <th>Dashborad</th>
                            <th>Descripción</th>
                            <th class="w100">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of dataList">
                            <td>{{item.idrole}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.dashboard}}</td>
                            <td>{{item.description}}</td>
                            <td>
                                <button [disabled] = "can_update" class="btn btn-success btn-sm" (click)="setItem(item);modalForm.show()"><i class="fas fa-edit"></i></button>
                                <button [disabled] = "can_delete" class="btn btn-danger btn-sm ml-1" (click)="delete(item)"><i class="fas fa-ban"></i></button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Dashborad</th>
                            <th>Descripción</th>
                            <th>Acciones</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </app-card>
    </div>
</div>

<app-ui-modal #modalForm [hideFooter]="true" [containerClick]="false" [dialogClass]="'modal-lg'">
    <div class="app-modal-header">
      <h5 class="modal-title">Rol Usuario</h5>
      <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="modalForm.hide()"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="app-modal-body">
        <form #validationForm="ngForm" class="editForm" novalidate>
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label class="form-control-label" for="name">Nombre <small class="text-danger">(*)</small></label>
                  <input class="form-control input-md" id="text" name="name" type="text" placeholder="Nombre del rol" [ngClass]="{'is-invalid': !name.valid && (name.dirty || name.touched || isSubmit)}" #name="ngModel" minlength="1"  maxlength="20" required [(ngModel)]="formInput.name">
                  <label *ngIf="!name.valid && (name.dirty || name.touched || isSubmit)" id="validation-email-error" class="error jquery-validation-error small form-text invalid-feedback">Debe colocar el nombre.</label>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                    <label class="form-control-label" for="dashboard">
                        <i class="fas fa-info-circle pointer text-secondary" [placement]="'top'"
                        [popoverTitle]="'Dashboard User'" ngbPopover="Pantalla de inicio del usuario" data-original-title="popup on top"></i>
                        Dashboard <small class="text-danger">(*)</small>
                    </label>
                    <select name="dashboard" class="custom-select" #dashboard="ngModel" required
                    [ngClass]="{'is-invalid': !dashboard.valid && (dashboard.dirty || dashboard.touched || isSubmit)}"
                    [(ngModel)]="formInput.dashboard">
                        <option value="">Seleccione</option>
                        <option *ngFor="let db of this.listDashboard" [value]="db">{{db}}</option>
                    </select>
                    <label *ngIf="!dashboard.valid && (dashboard.dirty || dashboard.touched || isSubmit)" id="validation-email-error"
                    class="error jquery-validation-error small form-text invalid-feedback">Debe colocar el nombre.</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label">Descripción <small class="text-danger">(*)</small></label>
                  <input type="text" class="form-control" name="description" placeholder="Coloque la descripción del rol" [ngClass]="{'is-invalid': !description.valid && (description.dirty || description.touched || isSubmit)}" #description="ngModel" minlength="6" maxlength="120" [(ngModel)]="formInput.description">
                  <label *ngIf="!description.valid && (description.dirty || description.touched || isSubmit)" id="validation-password-error" class="error jquery-validation-error small form-text invalid-feedback">Debe colocar la descripción de la moneda.</label>
                </div>
              </div>
              
            </div>
            <div><hr></div>
            <div class="form-group float-right">
              <button type="button" uiSref="work" class="btn btn-primary btn-raised" (click)="save(validationForm)"
              *ngIf="!processing"> Guardar <span style="margin-left:10px;"><i class="feather icon-save"></i></span></button>
              <button class="btn btn-raised btn-primary" *ngIf="processing" disabled>
                <span class="spinner-border spinner-border-sm" role="status"></span>
                <span class="load-text"> Procesando...</span>
              </button>
              <button type="button" uiSref="work" class="btn btn-warning btn-raised ml-1" (click)="modalForm.hide()"
              *ngIf="!processing"> Cerrar <span style="margin-left:10px;"><i class="feather icon-log-out"></i></span></button>
            </div>
        </form>
    </div>
</app-ui-modal>
