<div class="row">
    <div class="col-sm-12">
        <app-card [customHeader]="true" cardClass="card-datatable" [options]="false" >
            <div class="app-card-header">
                <h5 class="mb-3">Consultorios</h5>
                <button [disabled] = "can_insert" class="btn btn-primary float-right f-14" data-toggle="modal" (click)="clear();modalForm.show()">
                    <i class="fas fa-plus-circle m-r-5"></i> Nuevo
                </button>
            </div>
            <div class="table-responsive" *ngIf="dataList.length > 0">
                <table datatable [dtOptions]="dtOptions" class="table table-striped table-bordered table-hover table-sm">
                    <thead>
                        <tr>
                            <th class="w50">#</th>
                            <th>Consultorio</th>
                            <th>Descripción</th>
                            <th class="w50">Intervalo</th>
                            <th>Sede</th>
                            <!--<th>Linea de negocio</th>-->
                            <th class="w100">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of dataList">
                            <td>{{item.id}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.description}}</td>
                            <td>{{item.interval}}</td>
                            <td>{{item.campus.name}}</td>
                            <!--<td>{{item.businessLine.name}}</td>-->
                            <td>
                                <button [disabled] = "can_update"  class="btn btn-success btn-sm" (click)="setItem(item);modalForm.show()"><i class="fas fa-edit"></i></button>
                                <button [disabled] = "can_delete" class="btn btn-danger btn-sm ml-1" (click)="delete(item)"><i class="fas fa-ban"></i></button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>#</th>
                            <th>Consultorio</th>
                            <th>Descripción</th>
                            <th>Intervalo</th>
                            <th>Sede</th>
                            <!--<th>Linea de negocio</th>-->
                            <th>Acciones</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </app-card>
    </div>
</div>

<app-ui-modal #modalForm [hideFooter]="true" [containerClick]="false" [dialogClass]="'modal-xl'">
    <div class="app-modal-header">
      <h5 class="modal-title">Datos Consultorio</h5>
      <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="modalForm.hide()"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="app-modal-body">
        <form class="was-validated" (ngSubmit)="onSubmit()" ngNativeValidate #aForm>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-control-label" for="name">Nombre Consultorio <span class="text-danger">(*)</span></label>
                        <input class="form-control form-control-sm" id="text" name="name" type="text" required maxlength="40"
                        placeholder="Nombre del Ambiente" minlength="1" [(ngModel)]="formInput.name">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="form-control-label" for="interval">Intervalo <span class="text-danger">(*)</span></label>
                        <input class="form-control form-control-sm" name="interval" type="text" placeholder="Nombre del Ambiente"
                        minlength="1"  maxlength="30" required [(ngModel)]="formInput.interval">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="form-control-label" for="time_cleaning">Tiempo Limpieza <span class="text-danger">(*)</span></label>
                        <input class="form-control form-control-sm" name="time_cleaning" type="text" placeholder="Tiempo limpieza consultorio"
                        min="0" required [(ngModel)]="formInput.time_cleaning">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="" class="form-control-label">Horario de la mañana</label>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="time" name="schedule_morning_since"
                                class="form-control form-control-sm"
                                [(ngModel)]="formInput.schedule_morning_since">
                            </div>
                            <div class="col-md-6">
                                <input type="time" name="schedule_morning_until" class="form-control form-control-sm"
                                [(ngModel)]="formInput.schedule_morning_until">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="" class="form-control-label">Horario refrigerio</label>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="time" name="lunch_since" #lunch_since class="form-control form-control-sm"
                                [(ngModel)]="formInput.lunch_since" (change)="validateLunchSince()">
                            </div>
                            <div class="col-md-6">
                                <input type="time" name="lunch_until" class="form-control form-control-sm"
                                [(ngModel)]="formInput.lunch_until">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="" class="form-control-label">Horario de la tardes</label>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="time" name="schedule_afternoon_since" class="form-control form-control-sm"
                                [(ngModel)]="formInput.schedule_afternoon_since">
                            </div>
                            <div class="col-md-6">
                                <input type="time" name="schedule_afternoon_until" class="form-control form-control-sm"
                                [(ngModel)]="formInput.schedule_afternoon_until">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label">Sede <span class="text-danger">(*)</span></label>
                        <select class="custom-select" name="campus" required [(ngModel)]="formInput.campus">
                            <option value="">Seleccione</option>
                            <option *ngFor="let sp of campusList" [value]="sp.id">{{sp.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label">Linea de Negocio <span class="text-danger">(*)</span></label>
                        <ng-select [items]="businessLineList"
                                bindLabel="name"
                                bindValue="id"
                                [multiple]="true"
                                placeholder="Seleccione"
                                name="businessLine"
                                [(ngModel)]="this.formInput.businessline">
                        </ng-select>
                        <!--<select class="custom-select" name="businessLine" required [(ngModel)]="formInput.businessLine">
                            <option value="">Seleccione</option>
                            <option *ngFor="let sp of businessLineList" [value]="sp.id">{{sp.name}}</option>
                        </select>-->
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="form-control-label" for="description">Descripción</label>
                        <input class="form-control form-control-sm" name="description" type="text"
                        placeholder="Nombre del Ambiente" minlength="1"  maxlength="500" [(ngModel)]="formInput.description">
                    </div>
                </div>
                <div class="col-md-12 float-right">
                    <hr>
                    <button type="submit" uiSref="work" class="btn btn-primary btn-raised">
                        Guardar <span style="margin-left:10px;"><i class="feather icon-save"></i></span>
                    </button>
                    <button type="button" uiSref="work" class="btn btn-warning btn-raised ml-1" (click)="modalForm.hide()">
                        Salir <span style="margin-left:10px;"><i class="feather icon-log-out"></i></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</app-ui-modal>

