<div class="row">
    <div class="col-md-3">
        <app-card cardTitle="Resumen" cardClass="card-datatable" [options]="false">
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div class="check-status">
                        <input class="form-check-input" [checked]="formInput.register" type="checkbox" (change)="onCheckboxChangeRegister($event)"  id="CheckRegister">
                        <h6 class="m-t-10">Registradas<span class="badge m-r-5 badge-warning">{{ resumeInfo.register }}</span></h6>
                    </div>
                    <div class="progress">
                      <div class="progress-bar bg-warning" role="progressbar" [style.width.%]="resumeInfo.register"   aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="check-status">
                        <input class="form-check-input" [checked]="formInput.confirm"  (change)="onCheckboxChangeConfirm($event)" type="checkbox" id="CheckConfirm">
                        <h6 class="m-t-15">Confirmadas<span class="badge m-r-5 badge-info">{{ resumeInfo.confirm }}</span></h6>
                    </div>
                    <div class="progress">
                      <div class="progress-bar bg-info" role="progressbar" [style.width.%]="resumeInfo.confirm"  aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="check-status">
                        <input class="form-check-input" [checked]="formInput.attended"  (change)="onCheckboxChangeAttended($event)" type="checkbox" id="Checkattended">
                        <h6 class="m-t-15">Atendidas<span class="badge m-r-5 badge-success">{{ resumeInfo.attended }}</span></h6>
                    </div>
                    <div class="progress">
                      <div class="progress-bar bg-success" role="progressbar" [style.width.%]="resumeInfo.attended"  aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
       </app-card>  
       <app-card cardTitle="Filtros" cardClass="card-datatable" [options]="false">
        <hr>   
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="doctor">Paciente</label>
                    <ng-select  (ngModelChange)="onchangeFilterPatient($event)" [(ngModel)]="formInput.patient" [ngModelOptions]="{standalone: true}"
                    [loading]="loadingSelectPatientFilter" placeholder="Todos">
                        <ng-option *ngFor="let pa of listPatientFilter" [value]="pa">{{pa.name}} {{pa.lastname}} {{ pa.dni }}</ng-option>
                    </ng-select>
                </div>                    
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="doctor">Doctor</label>
                    <ng-select  (ngModelChange)="onchangeFilterDoctor($event)" [(ngModel)]="formInput.doctor" [ngModelOptions]="{standalone: true}"
                    [loading]="loadingSelectDoctor" placeholder="Todos">
                        <ng-option *ngFor="let doc of listDoctors" [value]="doc">{{doc.nameQuote}}</ng-option>
                    </ng-select>
                </div>                    
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="bl">Línea de Negocio</label>
                    <ng-select (ngModelChange)="onchangeFilterBl($event)" [(ngModel)]="formInput.bl" [ngModelOptions]="{standalone: true}" [loading]="loadingSelectBl"
                    (change)="getSpecialty()" placeholder="Todos">
                        <ng-option *ngFor="let bl of listBl" [value]="bl">{{bl.name}}</ng-option>
                    </ng-select>
                </div> 
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="specialty">Especialidad</label>
                    <ng-select (ngModelChange)="onchangeFilterSpecialty($event)" [(ngModel)]="formInput.specialty" [ngModelOptions]="{standalone: true}" [loading]="loadingSelectSp">
                        <ng-option *ngFor="let sp of listSpecialty" [value]="sp">{{sp.name}}</ng-option>
                    </ng-select>
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="environment">Ambiente</label>
                    <ng-select (ngModelChange)="onchangeFilterEnviroment($event)" [(ngModel)]="formInput.environment" placeholder="Ambiente" [ngModelOptions]="{standalone: true}" [loading]="loadingSelectEnv">
                        <ng-option *ngFor="let sp of environmentFilterList" [value]="sp">{{sp.name}}</ng-option>
                    </ng-select>
                </div>
            </div>
        </div>
       </app-card> 
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-12">
                <app-card cardTitle="Programación" cardClass="card-datatable" [options]="false">
                    <hr>
                    <full-calendar [options]="calendarOptions"></full-calendar> 
                </app-card>
            </div>
        </div>
    </div>
</div>



<app-ui-modal #modalForm [hideFooter]="true" [containerClick]="false" [dialogClass]="typeModal">
    <div class="app-modal-header">
      <h5 class="modal-title">Programar cita</h5>
      <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="modalForm.hide()"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="app-modal-body">
        <div class="row" [hidden] = "hideSpinAdd">
            <div class="col-md-12">
                <div class="d-flex justify-content-center">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" [hidden] = "hideFormSelect">
        <h6>Seleccione una opción:</h6>
        <hr>
        <div class="col-sm-12">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" (change)="onSelectOption1($event.target.value)" >
                <label class="form-check-label" for="gridRadios1">Tengo un número de cotización</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2" (change)="onSelectOption1($event.target.value)">
                <label class="form-check-label" for="gridRadios2">No tengo número de cotización</label>
            </div>
            <button class="btn btn-primary btn-inicio-search" (click)="clickSelectOption()"  type="button">Aceptar</button>
        </div>
        </div>
        <div class="row" id="search-container" [hidden]="hiddenSearch">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="form-control-label" for="value">Nro. de Cotización</label>
                    <div class="input-group mb-3">
                        <input type="text" [(ngModel)]="numberquotation" class="form-control" placeholder="Nro. de Cotización"
                        aria-label="Nro. de Cotización" aria-describedby="basic-addon2" (keydown.enter)="search()">
                        <div class="input-group-append">
                            <button class="btn btn-primary" (click)="search()" type="button">Buscar</button>
                        </div>
                    </div>
                </div>
            </div>
                       
        </div>
        <form class="was-validated" #registerByPatient="ngForm" (ngSubmit)="addappointmentByPatient()" ngNativeValidate>
            <div class="row" id="search-container" [hidden]="hiddenSearchPatient">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="form-label">Paciente <small class="text-danger">(*)</small></label>
                        <ng-select  (ngModelChange)="onSelectPatient($event)" [(ngModel)]="formByPatient.idpatient"
                        placeholder="Seleccione el Paciente" [loading]="loadingSelectPatient" required name="patient">
                            <ng-option *ngFor="let sp of listPatient" [value]="sp.id">{{sp.name}} {{sp.lastNameFather}} {{ sp.documentNumber }}</ng-option>
                        </ng-select>
                        <div *ngIf="!formByPatient.idpatient" class="invalid-feedback">
                            El paciente es requerido
                        </div>
                    </div>
                    <div *ngIf="!formByPatient.idpatient" class="invalid-feedback">
                        Seleccione un paciente
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="form-label">Tratamiento<small class="text-danger">(*)</small></label>
                        <ng-select (ngModelChange)="onSelectTariff($event)" [(ngModel)]="formByPatient.id_tariff"
                        placeholder="Seleccione el tratamiento" [loading]="loadingSelectTariff" required name="tariff">
                            <ng-option *ngFor="let sp of listTariff" [value]="sp.id">{{sp.name}}</ng-option>                        
                        </ng-select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label">Doctor<small class="text-danger">(*)</small></label>                        
                        <ng-select (ngModelChange)="onSelectDoctor($event)" [(ngModel)]="formByPatient.iddoctor"
                        placeholder="Seleccione el doctor" [loading]="loadingSelectDoctor" required name="doctor">
                            <ng-option *ngFor="let sp of listDoctorsByPatient" [value]="sp.id">{{sp.nameQuote}}</ng-option>
                        </ng-select>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-control-label" for="date">Fecha de Cita <span class="text-danger">(*)</span></label>
                        <input (change)="onSelectDateForClient()" class="form-control form-control-sm" 
                        name="date" type="date" placeholder="0" [(ngModel)]="formByPatient.date" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label">Ambiente <small class="text-danger">(*)</small></label>                        
                        <ng-select (ngModelChange)="onSelectEnvironmentByPatient($event)" [(ngModel)]="formByPatient.environment"
                        placeholder="Seleccione el ambiente" [loading]="loadingSelectPatient" required name="environment">
                            <ng-option *ngFor="let sp of environmentListByPatient" [value]="sp.id">{{sp.name}}</ng-option>
                        </ng-select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label">Horario <small class="text-danger">(*)</small></label>
                        <ng-select [loading]="loadingSelectBl" [(ngModel)]="formByPatient.appointment"
                        placeholder="Seleccione un horario" required name="appointment">
                            <ng-option *ngFor="let tl of turnListByPatient" [value]="tl.value" >{{ tl.name.beging }}-{{ tl.name.end }}</ng-option>
                        </ng-select>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="form-control-label" for="reason">Motivo</label>
                        <textarea [(ngModel)]="formByPatient.reason" class="form-control" name="reason" 
                        rows="2" placeholder="Motivo de la cita" maxlength="500" minlength="10"></textarea>
                    </div>                    
                </div>
                <div class="col-md-12 float-right">
                    <button (click)= "cancelProgrammingPatient()"  type="button" class="btn btn-danger" ngbTooltip="btn-primary">Cancelar</button>
                    <button type="submit" class="btn btn-primary ml-1" ngbTooltip="btn-primary"
                    [disabled]="!registerByPatient.valid">Programar</button>
                </div>
            </div>
        </form>
        <form [hidden]="hiddenForm" #validationForm="ngForm" class="editForm" novalidate>
            <div class="row" >
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-control-label" for="numberquotation">Nro. de Cotización</label>
                        <input [(ngModel)]="formProgramation.numberquotation"   class="form-control input-md" id="numberquotation" name="numberquotation" type="text" placeholder="Numero de Cotización" disabled>
                    </div>  
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="form-control-label" for="patient">Paciente</label>
                        <input [(ngModel)]="formProgramation.patient"  class="form-control input-md" id="patient" name="patient" type="text" placeholder="Nombre de Paciente" disabled>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-control-label" for="date">Fecha de Cita <span class="text-danger">(*)</span></label>
                        <input (ngModelChange)="onSelectDate($event)" class="form-control form-control-sm input-md" id="date" name="date" type="date" placeholder="0" [ngClass]="{'is-invalid': !date.valid && (date.dirty || date.touched || isSubmit)}" #date="ngModel" required [(ngModel)]="formProgramation.date">
                        <label *ngIf="!date.valid && (date.dirty || date.touched || isSubmit)" id="validation-email-error" class="error jquery-validation-error small form-text invalid-feedback">Requerido</label>
                    </div> 
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label">Ambiente <small class="text-danger">(*)</small></label>
                        <ng-select (ngModelChange)="onSelectEnvironment($event)" [(ngModel)]="formProgramation.environment" [ngModelOptions]="{standalone: true}" placeholder="Selecccione" [loading]="loadingSelectEnvironment" required>
                            <ng-option *ngFor="let sp of environmentList" [value]="sp.id">{{sp.name}}</ng-option>
                        </ng-select>
                    </div> 
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="bl">Horario disponible<small class="text-danger">(*)</small></label>
                        <ng-select [loading]="loadingSelectBl" [(ngModel)]="formProgramation.appointment" [ngModelOptions]="{standalone: true}" placeholder="Seleccione un horario" required>
                            <ng-option *ngFor="let tl of turnList" [value]="tl.value" >{{ tl.name.beging }}-{{ tl.name.end }}</ng-option>
                        </ng-select>
                    </div> 
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="form-control-label" for="reason">Motivo</label>
                        <textarea class="form-control" [(ngModel)]="formProgramation.reason" name="reason" id="reason" rows="2" placeholder="Motivo de la cita" maxlength="500"></textarea>
                    </div>   
                    <button (click)="showResult()" id="btn-cancel" type="button" class="btn btn-danger" ngbTooltip="btn-primary">Cancelar</button>
                    <button (click)="addappointment()" style="float: right;" type="button" class="btn btn-primary" ngbTooltip="btn-primary">Programar</button>
                </div>                
            </div>
        </form>
       
        <div class="row data-form" [hidden]="haveResult">
            <div class="col-md-2">
                <div class="form-group">
                    <label class="form-control-label" for="value">Fecha de cotización</label>
                    <input class="form-control input-md" id="date" name="value" type="text" readonly
                    [(ngModel)]="dataSearch.date">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-control-label" for="value">Paciente</label>
                    <input [(ngModel)]="dataSearch.patient" class="form-control input-md" id="search-patient" name="value" type="text" placeholder="Nombre de Paciente"   disabled>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-control-label" for="value">Doctor</label>
                    <input [(ngModel)]="dataSearch.doctor" class="form-control input-md" id="doctor" name="value" type="text" placeholder="Nombre del Doctor"  disabled >
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="form-control-label" for="value">Especilidad</label>
                    <input [(ngModel)]="dataSearch.specialty" class="form-control input-md" id="specialty" name="value" type="text" placeholder="Especialidad" disabled >
                </div>
            </div>     
        </div>
        
        <div class="row" [hidden]="haveResult">
            <div class="col-md-12">
                <app-card [hidHeader]="true" cardClass="user-profile-list">
                    <div class="dt-responsive table-responsive" *ngIf="dataSearch.detail.length > 0">
                        <table datatable [dtOptions]="dtOptions" class="table table-striped row-border table-hover">
                            <thead>
                                <tr>
                                    <th>N°</th>
                                    <th>Tratamiento</th>
                                    <th>Cantidad</th>
                                    <th>Valor</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of dataSearch.detail">
                                    <td>{{ item.index }}</td>
                                    <td>
                                        {{ item.treatment }}
                                    </td>
                                    <td>
                                        {{ item.cant }}
                                    </td>
                                    <td>
                                        {{ item.value }}
                                    </td>                                 
                                    <td>
                                        <span *ngIf="item.status===1" class="badge badge-light-warning" >Pendiente</span>    
                                        <span *ngIf="item.status===2" class="badge badge-light-success" >Pagada</span> 
                                        <div *ngIf="item.status===1 || item.status===2" class="overlay-edit">
                                            <button type="button" (click)="showForm(item)" class="btn btn-icon btn-success"><i class="feather icon-clock"></i></button> 
                                        </div> 
                                        <span *ngIf="item.status===3" class="badge badge-light-info" >Programada</span>      
                                    </td>
                                </tr>
                               
                            </tbody>
                        </table>
                    </div>
                </app-card>
           </div>
        </div>
        <div class="row" [hidden]="haveResult" style="display: block;" class="float-right"> 
            
            <button (click)="resetForm()"
                type="button" class="btn btn-primary" ngbTooltip="btn-primary">
                Buscar otra cotización
            </button>
            <button type="button" class="btn btn-warning ml-1" data-dismiss="modal" aria-label="Close"
            (click)="modalForm.hide()">Cerrar</button>
        </div>
    </div>
</app-ui-modal>


<app-ui-modal #modaldetail [hideFooter]="true" [containerClick]="false" [dialogClass]="'modal-ls'">
    <div class="app-modal-header">
      <h5 class="modal-title">Detalle de cita</h5>
      <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="mdetail.hide()"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="app-modal-body">
        <div [hidden] = "hideDetail">
            <div class="app-card-header">
              <div class="row align-items-center">
                <div class="col">
                  <div class="row align-items-center">
                    <div class="col-auto col pr-0">
                      <img class="img-radius img-fluid wid-60" src="assets/images/user/male.png" alt="User image">
                    </div>
                    <div class="col">
                      <h6 class="mb-1">{{ formshowdetail.doctor }}</h6>
                      <p class="mb-0">Doctor</p>
                    </div>
                  </div>
                </div>
                <div class="col col-auto">
                  <button class="btn waves-effect waves-light btn-warning"  (click)="setProgramation()">Reprogramar</button>
                </div>
              </div>
            </div>
            <div class="row text-center space">
              
              <div class="col">
                <h6 class="mb-1">Paciente</h6>
                <p class="mb-0">{{  formshowdetail.patient  }}</p>
              </div>
              <div class="col">
                <h6 class="mb-1">Ambiente</h6>
                <p class="mb-0">{{ formshowdetail.environment }}</p>
              </div>
              <div class="col">
                <h6 class="mb-1">Horario</h6>
                <p class="mb-0">{{ formshowdetail.appointment }}</p>
              </div>
              
            </div>
            <div class="m-b-20">
                <hr>
                <h6>Motivo</h6>
                <p>{{ formshowdetail.reason }}</p>
            </div>
        </div>
        <div [hidden] = "hideSpinReForm">
            <div class="d-flex justify-content-center">
                <div class="spinner-border" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
       
        
        <div [hidden]="hideFormRe">
        <div class="app-card-header">
            <div class="row align-items-center">
                <div class="col">
                    <div class="row align-items-center">
                        <div class="col-auto col pr-0">
                        <img class="img-radius img-fluid wid-60" src="assets/images/user/male.png" alt="User image">
                        </div>
                        <div class="col">
                        <h6 class="mb-1">{{ formshowdetail.doctor }}</h6>
                        <p class="mb-0">Doctor</p>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
        <div class="row text-center space">
            
                <div class="col">
                    <h6 class="mb-1">Paciente</h6>
                    <p class="mb-0">{{  formshowdetail.patient  }}</p>
                </div>
                <div class="col">
                    <h6 class="mb-1">Ambiente</h6>
                    <p class="mb-0">{{ formshowdetail.environment }}</p>
                </div>
                <div class="col">
                    <h6 class="mb-1">Horario</h6>
                    <p class="mb-0">{{ formshowdetail.appointment }}</p>
                </div>
            
            </div>
            <hr>
            <div class="form-group">
                <label class="form-control-label" for="date">Fecha de Cita <span class="text-danger">(*)</span></label>
                <input (ngModelChange)="onselectdateReprogramming($event)" class="form-control form-control-sm input-md" id="date" name="date" type="date" placeholder="0" [ngClass]="{'is-invalid': !date.valid && (date.dirty || date.touched || isSubmit)}" #date="ngModel" required [(ngModel)]="formReprogramming.date">
                <label *ngIf="!date.valid && (date.dirty || date.touched || isSubmit)" id="validation-email-error" class="error jquery-validation-error small form-text invalid-feedback">Requerido</label>
               
            </div>

            <div class="form-group">
                <label class="form-label">Ambiente <small class="text-danger">(*)</small></label>
                <ng-select (ngModelChange)="onSelectEnvirontmentReprogramming($event)" [(ngModel)]="formReprogramming.environment" [ngModelOptions]="{standalone: true}" placeholder="Selecccione" [loading]="loadingSelectEnvironmentRe" required>
                    <ng-option *ngFor="let sp of environmentList" [value]="sp.id">{{sp.name}}</ng-option>
                </ng-select>
            </div>
       
            

            <div class="form-group">
                <label for="bl">Horario disponible<small class="text-danger">(*)</small></label>
                <ng-select [loading]="loadingSelectBl" [(ngModel)]="formReprogramming.appointment" [ngModelOptions]="{standalone: true}" placeholder="Seleccione un horario" required>
                    <ng-option *ngFor="let tl of turnList" [value]="tl.value" >{{ tl.name.beging }}-{{ tl.name.end }}</ng-option>
                </ng-select>
            </div> 

            <button (click)="cancelReprogramming()"  id="btn-cancel" type="button" class="btn btn-danger" ngbTooltip="btn-primary">Cancelar</button>
            <button (click)="updateAppointment()"  style="float: right;" type="button" class="btn waves-effect waves-light btn-warning" ngbTooltip="btn-warning">Reprogramar</button>
        </div> 
          
    </div>
</app-ui-modal>

