<div class="row">
    <div class="col-sm-12">
        <app-card cardTitle="Lineas de Negocio" cardClass="card-datatable" [options]="false">
            <div class="d-flex align-items-center" *ngIf="loading">
                <strong>Loading...</strong>
                <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
            </div>
            <div class="table-responsive" *ngIf="!loading">
                <table datatable class="table table-striped table-bordered nowrap table-hover table-sm">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of dataList">
                            <td>{{item.id}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.description}}</td>
                            <td>
                                <button [disabled] = "can_update" class="btn btn-success btn-sm" (click)="addForm(item)"><i class="fas fa-edit"></i></button>
                                <button [disabled] = "can_delete" class="btn btn-danger btn-sm ml-1" (click)="delete(item)"><i class="fas fa-ban"></i></button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Acciones</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </app-card>
    </div>
</div>
<div class="fixed-button active">
    <button [disabled] = "can_insert" class="btn btn-icon btn-primary has-ripple btn-circle btn-md" (click)="addForm(formInput)">
      <i aria-hidden="true" class="fas fa-plus-circle fa-2x"></i> [F2]
    </button>
</div>