<div class="row">
    <div class="col-sm-12">
        <app-card [customHeader]="true" cardClass="card-datatable" [options]="false">
            <div class="app-card-header">
                <h5 class="mb-3"><i class="fas fa-hospital-symbol m-r-5"></i> Historia Clinica</h5>
                <button [disabled] = "can_insert" class="btn btn-primary float-right f-14" (click)="addForm(0)">
                    <i class="fas fa-plus-circle m-r-5"></i> Nuevo [F2]
                </button>
            </div>
            <div class="d-flex align-items-center" *ngIf="loading">
                <strong>Loading...</strong>
                <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
            </div>
            <div  class="table-responsive"><!-- *ngIf="!loading"-->
                <table  datatable [dtOptions]="dtOptions" class="table table-striped table-bordered nowrap table-hover table-sm">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Historia</th>
                            <th>Nombres</th>
                            <th>Nro. Documento</th>
                            <th>Celular</th>
                            <th>Email</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of dataList">
                            <td>{{item.id}}</td>
                            <td>{{item.history}}</td>
                            <td>{{item.name}} {{item.lastNameFather}} {{item.lastNameMother}}
                                <br><h6>Apoderado: {{item.attorney}}</h6>
                            </td>
                            <td>{{item.documentNumber}}</td>
                            <td>{{item.cellphone}}</td>
                            <td>{{item.email}}</td>
                            <td>
                                <button [disabled] = "can_update" class="btn btn-success btn-sm" (click)="addForm(item.id);">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <button [disabled] = "can_delete" class="btn btn-danger btn-sm ml-1" (click)="delete(item)">
                                    <i class="fas fa-ban"></i>
                                </button>
                                <button type="button" class="btn btn-icon btn-secondary btn-sm ml-1" (click)="onPrint(item)"
                                ngbPopover="Ficha" triggers="mouseenter:mouseleave">
                                    <i class="fas fa-file-pdf"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>#</th>
                            <!-- <th>Fecha Creación</th> -->
                            <th>Historia</th>
                            <th>Nombres</th>
                            <th>Nro. Documento</th>
                            <th>Celular</th>
                            <th>Email</th>
                            <th>Acciones</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </app-card>
    </div>
</div>
<div class="fixed-button active">
    <button class="btn btn-icon btn-primary has-ripple btn-circle btn-md" (click)="addForm(0)">
      <i aria-hidden="true" class="fas fa-plus-circle fa-2x"></i> [F2]
    </button>
</div>