<div class="row btn-page" *ngIf="dataReservation">
  <div class="col-12 filter-bar">
    <nav class="navbar m-b-30 p-10">
      <ul class="nav">
        <li class="nav-item active">
          <a class="nav-link text-secondary" href="javascript:">Atención Medica: <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown" placement="auto">
          <a class="nav-link text-secondary" href="javascript:" id="bydate"><i class="far fa-clock"></i> Hora: {{dataReservation.appointment}}</a>
        </li>
        <li class="nav-item dropdown" placement="auto">
          <a class="nav-link text-secondary" href="javascript:" id="bystatus"><i class="fas fa-chart-line"></i> Tratamiento: {{dataReservation.tariff.name}}</a>
        </li>
      </ul>
      <div class="nav-item nav-grid">
        <button type="button" class="btn btn-primary btn-icon" [placement]="'top'" ngbTooltip="Volver a historia clinica"
        routerLink="/clinic-history" (click)="onBackCH()">
          <i class="fas fa-backward"></i> Regresar
        </button>
      </div>
    </nav>
  </div>
  <div class="col-xl-3 col-lg-12">
    <app-card cardTitle="Información del Paciente" cardClass="task-board-left" [options]="false">
      <div class="task-right">
        <!-- complete status -->
        <div class="task-right-header-users" (click)="isCompleteStatus = !isCompleteStatus" [attr.aria-expanded]="!isCompleteStatus" aria-controls="completeStatus">
          <span class="f-w-400">Datos personales</span>
          <i class="fas fa-caret-down float-right m-t-5"></i>
        </div>
        <div id="assignUsers" [ngbCollapse]="isCompleteStatus" class="user-box assign-user taskboard-right-users">
          <div class="media mb-2">
            <div class="media-left media-middle mr-3">
              <a href="javascript:">
                <img class="media-object img-radius" src="assets/images/user/user-profile.png" alt="user">
              </a>
            </div>
            <div class="media-body">
              <h6>{{dataReservation.patient.name}} {{dataReservation.patient.lastNameFather}}</h6>
              <p>{{dataReservation.patient.documentNumber}}</p>
            </div>
          </div>
          <div class="media">
            <div class="media-body">
              <p class="chat-header"><span class="text-muted">Historia:</span> {{dataReservation.patient.history}}</p>
              <p class="chat-header"><span class="text-muted">Teléfono:</span> {{dataReservation.patient.cellphone}}</p>
              <p class="chat-header"><span class="text-muted">Email:</span> {{dataReservation.patient.email}}</p>
            </div>
          </div>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-xl-9 col-lg-12">
    <div class="card">
      <div class="card-body">
        <div>
          <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills">
            <li [ngbNavItem]="1">
              <a ngbNavLink>
                <i class="fas fa-file-medical"></i> Acto medico
              </a>
              <ng-template ngbNavContent>
                <app-medical-act [idreservation]="dataReservation.id"
                (guardo)="disabled=$event"></app-medical-act>
              </ng-template>
            </li>
            <li [ngbNavItem]="2" [disabled]="!disabled">
              <a ngbNavLink>
                <i class="fas fa-notes-medical"></i> Receta Medica
              </a>
              <ng-template ngbNavContent>
                <app-prescription [idclinichisotry]="dataReservation.patient.id"></app-prescription>
              </ng-template>
            </li>
            <li [ngbNavItem]="4">
              <a ngbNavLink (click)="getNotes()">
                <i class="fas fa-comments"></i> Anotaciones
              </a>
              <ng-template ngbNavContent>
                <app-clinic-history-notes [idch]="dataReservation.patient.id"></app-clinic-history-notes>
              </ng-template>
            </li>
            <li [ngbNavItem]="5" [disabled]="!disabled">
                <a ngbNavLink>
                  <i class="fas fa-notes-medical"></i> Atenciones
                </a>
                <ng-template ngbNavContent>
                  <app-attention [idreservation]="dataReservation.id"></app-attention>
                </ng-template>
            </li>
            <li [ngbNavItem]="6" [disabled]="!disabled">
              <a ngbNavLink>
                <i class="fas fa-cloud-upload-alt"></i> Archivos
              </a>
              <ng-template ngbNavContent>
                <app-medical-act-files></app-medical-act-files>
              </ng-template>
            </li>
          </ul>
          <div [ngbNavOutlet]="nav" class="mt-2"></div>
        </div>
      </div>
    </div>
  </div>
</div>
  
