<p *ngIf="this.listQuotation.length === 0">
    <ngb-alert [dismissible]="false" [type]="'primary'">
      <strong><i class="fas fa-info-circle"></i></strong>
      No hay cotizaciones registradas
    </ngb-alert>
</p>
<table class="table table-sm" *ngIf="this.listQuotation.length > 0">
    <thead>
        <th>Fecha</th>
        <th>Paciente</th>
        <th>Linea de negocio</th>
        <th class="w50">Total S/</th>
        <th class="w50">Total $</th>
        <th class="w100">Acción</th>
    </thead>
    <tbody>
        <tr *ngFor="let item of listQuotation">
          <td>{{item.date | date:"dd-MM-yyyy"}}</td>
          <td>{{item.clinicHistory.name}} {{item.clinicHistory.lastNameFather}} {{item.clinicHistory.lastNameMother}}</td>
          <td>{{item.businessline}}</td>
          <td>{{item.total_sol | number}}</td>
          <td>{{item.total_usd | number}}</td>
          <td>
            <button type="button" class="btn btn-icon btn-success btn-sm" (click)="addForm(item.id)"
            ngbPopover="Editar" triggers="mouseenter:mouseleave">
                <i class="feather icon-check-circle"></i>
            </button>
          </td>
        </tr>
    </tbody>
</table>
