<div class="row">
  <!-- order-card start -->
  <div class="col-md-6 col-xl-3">
    <app-card [hidHeader]="true" cardClass="bg-c-blue order-card">
      <h6 class="text-white">Orders Received</h6>
      <h2 class="text-right text-white"><i class="feather icon-shopping-cart float-left"></i><span>486</span></h2>
      <p class="m-b-0">Completed Orders<span class="float-right">351</span></p>
    </app-card>
  </div>
  <div class="col-md-6 col-xl-3">
    <app-card [hidHeader]="true" cardClass="bg-c-green order-card">
      <h6 class="text-white">Total Sales</h6>
      <h2 class="text-right text-white"><i class="feather icon-tag float-left"></i><span>1641</span></h2>
      <p class="m-b-0">This Month<span class="float-right">213</span></p>
    </app-card>
  </div>
  <div class="col-md-6 col-xl-3">
    <app-card [hidHeader]="true" cardClass="bg-c-yellow order-card">
      <h6 class="text-white">Revenue</h6>
      <h2 class="text-right text-white"><i class="feather icon-repeat float-left"></i><span>$42,562</span></h2>
      <p class="m-b-0">This Month<span class="float-right">$5,032</span></p>
    </app-card>
  </div>
  <div class="col-md-6 col-xl-3">
    <app-card [hidHeader]="true" cardClass="bg-c-red order-card">
      <h6 class="text-white">Total Profit</h6>
      <h2 class="text-right text-white"><i class="feather icon-award float-left"></i><span>$9,562</span></h2>
      <p class="m-b-0">This Month<span class="float-right">$542</span></p>
    </app-card>
  </div>
  <!-- order-card end -->

  <!-- account-section start -->
  <div class="col-xl-6 col-md-12">
    <app-card cardTitle="Unique Visitor" [options]="false">
      <app-apex-chart chartID="analytics-unique-visitor-chart" [chartConfig]="this.chartDB.uniqueVisitorAnalytics"></app-apex-chart>
    </app-card>
  </div>
  <div class="col-xl-6 col-md-12">
    <div class="row">
      <div class="col-md-6">
        <app-card [hidHeader]="true">
          <div class="row">
            <div class="col-auto">
              <span>Customers</span>
            </div>
            <div class="col text-right">
              <h2 class="mb-0">826</h2>
              <span class="text-c-green">8.2%<i class="feather icon-trending-up ml-1"></i></span>
            </div>
          </div>
          <app-apex-chart chartID="analytics-customer1-chart" [chartConfig]="this.chartDB.customerAnalytics1"></app-apex-chart>
          <div class="row mt-3 text-center">
            <div class="col">
              <h3 class="m-0"><i class="fas fa-circle f-10 m-r-5 text-success"></i>674</h3>
              <span class="ml-3">New</span>
            </div>
            <div class="col">
              <h3 class="m-0"><i class="fas fa-circle text-primary f-10 m-r-5"></i>182</h3>
              <span class="ml-3">Return</span>
            </div>
          </div>
        </app-card>
      </div>
      <div class="col-md-6">
        <app-card [hidHeader]="true" cardClass="bg-primary text-white">
          <div class="row">
            <div class="col-auto">
              <span>Customers</span>
            </div>
            <div class="col text-right">
              <h2 class="mb-0 text-white">826</h2>
              <span class="text-white">8.2%<i class="feather icon-trending-up ml-1"></i></span>
            </div>
          </div>
          <app-apex-chart chartID="analytics-customer2-chart" [chartConfig]="this.chartDB.customerAnalytics2"></app-apex-chart>
          <div class="row mt-3 text-center">
            <div class="col">
              <h3 class="m-0 text-white"><i class="fas fa-circle f-10 m-r-5 text-white"></i>674</h3>
              <span class="ml-3">New</span>
            </div>
            <div class="col">
              <h3 class="m-0 text-white"><i class="fas fa-circle text-white f-10 m-r-5"></i>182</h3>
              <span class="ml-3">Return</span>
            </div>
          </div>
        </app-card>
      </div>
    </div>
  </div>

  <div class="col-md-12 col-lg-4">
    <app-card [hidHeader]="true" cardClass="seo-card" blockClass="seo-statustic" footerClass="seo-chart border border-top-0 p-0 overflow-hidden" [isCardFooter]="true">
      <i class="feather icon-save f-20 text-c-red"></i>
      <h5 class="mb-1">65%</h5>
      <p>Memory</p>
      <div class="app-card-footer">
        <app-apex-chart chartID="analytics-seo-card-chart" [chartConfig]="this.chartDB.analyticsSeoCard"></app-apex-chart>
      </div>
    </app-card>
  </div>
  <div class="col-md-6 col-lg-4">
    <app-card [hidHeader]="true" blockClass="text-center">
      <i class="fa fa-envelope-open text-c-blue d-block f-40"></i>
      <h4 class="m-t-20"><span class="text-c-blue">8.62k</span> Subscribers</h4>
      <p class="m-b-20">Your main list is growing</p>
      <button class="btn btn-primery btn-sm btn-round">Manage List</button>
    </app-card>
  </div>
  <div class="col-md-6 col-lg-4">
    <app-card [hidHeader]="true" blockClass="text-center">
      <i class="fab fa-twitter text-c-green d-block f-40"></i>
      <h4 class="m-t-20"><span class="text-c-green">+40</span> Followers</h4>
      <p class="m-b-20">Your main list is growing</p>
      <button class="btn btn-success btn-sm btn-round">Check Theme Out</button>
    </app-card>
  </div>
  <!-- account-section end -->

  <!-- conversion-section start -->

  <div class="col-lg-4 col-md-12">
    <app-card [hidHeader]="true" footerClass="border border-top-0 p-0 overflow-hidden" [isCardFooter]="true">
      <h6>Conversions</h6>
      <h4 class="m-0">0.85%<span class="text-c-blue ml-2"><i class="feather icon-arrow-up"></i>0.50%</span></h4>
      <span>Purchased</span>
      <div class="app-card-footer">
        <app-apex-chart chartID="analytics-conversions-chart-1" [chartConfig]="this.chartDB.analyticsConversions1"></app-apex-chart>
      </div>
    </app-card>
    <app-card [hidHeader]="true" footerClass="border border-top-0 p-0 overflow-hidden" [isCardFooter]="true">
      <h6>Conversions</h6>
      <h4 class="m-0">0.85%<span class="text-c-red ml-2"><i class="feather icon-arrow-up"></i>0.50%</span></h4>
      <span>Purchased</span>
      <div class="app-card-footer">
        <app-apex-chart chartID="analytics-conversions-chart-2" [chartConfig]="this.chartDB.analyticsConversions2"></app-apex-chart>
      </div>
    </app-card>
    <app-card [hidHeader]="true" footerClass="border border-top-0 p-0 overflow-hidden" [isCardFooter]="true">
      <h6>Conversions</h6>
      <h4 class="m-0">0.85%<span class="text-c-green ml-2"><i class="feather icon-arrow-up"></i>0.50%</span></h4>
      <span>Purchased</span>
      <div class="app-card-footer">
        <app-apex-chart chartID="analytics-conversions-chart-3" [chartConfig]="this.chartDB.analyticsConversions3"></app-apex-chart>
      </div>
    </app-card>
  </div>
  <div class="col-lg-8 col-md-12">
    <app-card cardTitle="Activity Feed" blockClass="m-t-10">
      <ul class="feed-blog pl-0">
        <li class="active-feed">
          <div class="feed-user-img">
            <img src="assets/images/user/avatar-4.jpg" class="img-radius " alt="User-Profile-Image">
          </div>
          <h6><span class="badge badge-danger">File</span> Eddie uploaded new files: <small class="text-muted">2 hours ago</small></h6>
          <p class="m-b-15 m-t-15">hii <b> @everone</b> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
          <div class="row">
            <div class="col-auto text-center">
              <img src="assets/images/gallery-grid/img-grd-gal-1.jpg" alt="img" class="img-fluid wid-100">
              <h6 class="m-t-15 m-b-0">Old Scooter</h6>
              <p class="text-muted m-b-0"><small>PNG-100KB</small></p>
            </div>
            <div class="col-auto text-center">
              <img src="assets/images/gallery-grid/img-grd-gal-2.jpg" alt="img" class="img-fluid wid-100">
              <h6 class="m-t-15 m-b-0">Wall Art</h6>
              <p class="text-muted m-b-0"><small>PNG-150KB</small></p>
            </div>
            <div class="col-auto text-center">
              <img src="assets/images/gallery-grid/img-grd-gal-3.jpg" alt="img" class="img-fluid wid-100">
              <h6 class="m-t-15 m-b-0">Microphone</h6>
              <p class="text-muted m-b-0"><small>PNG-150KB</small></p>
            </div>
          </div>
        </li>
        <li class="diactive-feed">
          <div class="feed-user-img">
            <img src="assets/images/user/avatar-4.jpg" class="img-radius " alt="User-Profile-Image">
          </div>
          <h6><span class="badge badge-success">Task</span> Sarah marked the Pending Review: <span class="text-c-green"> Trash Can Icon Design</span><small class="text-muted"> 2 hours ago</small></h6>
        </li>
        <li class="diactive-feed">
          <div class="feed-user-img">
            <img src="assets/images/user/avatar-4.jpg" class="img-radius " alt="User-Profile-Image">
          </div>
          <h6><span class="badge badge-primary">comment</span> abc posted a task: <span class="text-c-green">Design a new Homepage</span> <small class="text-muted">6 hours ago</small></h6>
          <p class="m-b-15 m-t-15">hii <b> @everone</b> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
        </li>
      </ul>
    </app-card>
  </div>
  <!-- conversion-section end -->

  <!-- customer overview start -->
  <div class="col-md-12">
    <app-card cardTitle="Campaign Monitor" cardClass="tab-card tab-content" blockClass="nav-fill">
      
    </app-card>
  </div>
  <!-- customer overview start -->
</div>
